.header {
  background-image: linear-gradient(
    -115deg,
    rgba($color-header-1, 0.95) 0%,
    rgba($color-primary-darker, 0.95) 80%
  );
  height: 738px;
  color: white;
  padding-top: 110px;
  clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
  background-position: top;
  background-size: cover;

  @include respond(laptop) {
    height: 630px;
  }

  @include respond(pixel2XL) {
    height: 600px;
  }

  @include respond(phone-tab) {
    height: 1050px;
    clip-path: polygon(50% 100%, 100% 97%, 100% 0, 0 0, 0 97%);
  }

  @include respond(largePhone) {
    height: 900px;
  }

  @include respond(phone) {
    height: 850px;
  }

  @include respond(mediumPhone) {
    // height: 1250px;
    // clip-path: polygon(50% 100%, 100% 95%, 100% 0, 0 0, 0 95%);
  }

  @include respond(smallPhone) {
    // height: 120/0px;
    clip-path: polygon(50% 100%, 100% 95%, 100% 0, 0 0, 0 95%);
  }

  &__logo-box {
    position: absolute;
    top: 40px;
    left: 60px;
    width: 25%;

    @include respond(phone-tab) {
      transform: translateX(-35%);
      left: 50%;
      top: 70px;
    }

    @include respond(largePhone) {
      left: 50%;
      top: 60px;
      transform: translateX(-35%);
    }

    @include respond(phone) {
      transform: translateX(-30%);
    }

    @include respond(smallPhone) {
      transform: translateX(-40%);
    }
  }

  &__logo {
    width: 40%;

    @include respond(laptop) {
      width: 50%;
    }

    @include respond(phone-tab) {
      width: 70%;
    }

    @include respond(phone) {
      width: 60%;
    }
    @include respond(smallPhone) {
      width: 80%;
    }
  }

  &__container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding: 0 30px;

    @include respond(pixel2XL) {
      grid-template-columns: 1fr 1fr;
    }

    @include respond(phone-tab) {
      height: auto;
      grid-template-columns: 1fr;
      margin-top: 80px;
      padding: 0 90px;
      text-align: center;
    }

    @include respond(phone) {
      margin-top: 30px;
      padding: 0 60px;
    }

    @include respond(mediumPhone) {
      padding: 0 30px;
    }
    @include respond(smallPhone) {
      padding: 0 20px;
    }
  }

  &__left {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    padding-left: 30px;

    @include respond(laptop) {
      // margin-top: 50px;
    }

    @include respond(pixel2XL) {
      // margin-top: 00px;
    }

    @include respond(phone-tab) {
      padding-left: 0;
    }
  }

  &__text {
    display: inline-block;
    text-align: center;
  }

  &__right {
    // height: auto;

    &__text {
      // text-align: center;
    }
  }

  &__container__image {
    height: auto;
    position: relative;
  }

  &__image {
    width: 90%;
    padding-top: 50px;
    display: block;
    margin: 0 auto;

    @include respond(laptop) {
      width: 100%;
    }

    @include respond(pixel2XL) {
      padding-top: 30px;
      width: 50%;
    }

    @include respond(phone-tab) {
      width: 45%;
    }

    @include respond(largePhone) {
      width: 50%;
      padding-top: 0;
    }

    @include respond(phone) {
      width: 55%;
    }

    &--desktop {
      width: 100%;
      display: block;

      @include respond(pixel2XL) {
        display: none;
      }
    }

    &--phone {
      display: none;

      @include respond(pixel2XL) {
        display: block;
        width: 100%;
      }
    }
  }
}

.signup__container,
.login__container {
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
  transition: all 0.2s;

  &:hover {
    transform: translateY(2px);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($color-black, 0.2);
  }
}

.login__container {
  @include respond(phone-tab) {
    margin-right: 0;
  }
}

.login,
.signup {
  text-decoration: none;
  border-radius: 10px;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 20px;

  @include respond(laptop) {
    padding: 10px 25px;
    font-size: 16px;
  }

  @include respond(largePhone) {
    padding: 10px 20px;
    font-size: 13px;
  }
  // box-shadow: 0 10px 30px rgba($color-black,.2);
}

.login {
  color: $color-football-light;
  background: $color-white;
  border: 1px solid $color-football-dark;
  cursor: pointer;

  &:hover {
    color: $color-football;
    box-shadow: 0 10px 20px rgba($color-black, 0.2);
  }
}

.signup {
  color: $color-white;
  background: $color-football-light;
  border: 1px solid $color-football-dark;
  cursor: pointer;

  &:hover {
    background: $color-football;
    box-shadow: 0 10px 20px rgba($color-black, 0.8);
  }
}
