.header {
  background-image: linear-gradient(
    -115deg,
    rgba($color-header-1, 0.95) 0%,
    rgba($color-primary-darker, 0.95) 80%
  );
  // ,url(/img/backdrop_header--2.png);
  // height: 100vh;
  height: 73.8rem;
  color: white;
  padding-top: 11rem;
  clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
  background-position: top;
  background-size: cover;

  @include respond(laptop) {
    height: 63rem;
  }

  @include respond(pixel2XL) {
    height: 60rem;
  }

  @include respond(phone-tab) {
    height: 110rem;
    clip-path: polygon(50% 100%, 100% 97%, 100% 0, 0 0, 0 97%);
  }

  @include respond(largePhone) {
    height: 95rem;
  }

  @include respond(phone) {
    height: 120rem;
  }

  @include respond(mediumPhone) {
    height: 125rem;
    clip-path: polygon(50% 100%, 100% 95%, 100% 0, 0 0, 0 95%);
  }

  @include respond(smallPhone) {
    // height: 120/rem;
    clip-path: polygon(50% 100%, 100% 95%, 100% 0, 0 0, 0 95%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 6rem;
    width: 25%;

    @include respond(phone-tab) {
      transform: translateX(-35%);
      left: 50%;
      top: 7rem;
    }

    @include respond(largePhone) {
      left: 50%;
      top: 6rem;
      transform: translateX(-35%);
    }

    @include respond(phone) {
      transform: translateX(-30%);
    }

    @include respond(smallPhone) {
      transform: translateX(-40%);
    }
  }

  &__logo {
    width: 40%;

    @include respond(laptop) {
      width: 50%;
    }

    @include respond(phone-tab) {
      width: 70%;
    }

    @include respond(phone) {
      width: 60%;
    }
    @include respond(smallPhone) {
      width: 80%;
    }
  }

  &__row {
    height: 100%;

    @include respond(phone-tab) {
      height: auto;
    }
  }

  &__left {
    position: relative;
    height: 100%;

    @include respond(laptop) {
      margin-top: 5rem;
    }

    @include respond(pixel2XL) {
      margin-top: 0rem;
    }
  }

  &__box {
    width: 100%;
    position: absolute;
    top: 15%;
    padding-left: 6rem;

    @include respond(laptop) {
      top: 8%;
    }

    // @include respond(pixel2XL) {
    //     top: 12%
    // }

    @include respond(phone-tab) {
      position: relative;
      text-align: center;
      padding: 8rem 9rem;
      padding-bottom: 2rem;
      top: 0;
    }

    @include respond(largePhone) {
      padding: 5rem;
      padding-bottom: 2rem;
    }

    @include respond(phone) {
      padding: 6rem 14rem;
      padding-bottom: 2rem;
    }

    @include respond(mediumPhone) {
      padding: 6rem 14rem;
    }

    @include respond(smallPhone) {
      padding: 6rem 15rem;
    }
  }

  &__text {
    display: inline-block;
    text-align: center;
  }

  &__right {
    height: auto;

    &__text {
      text-align: center;
    }
  }

  &__container__image {
    height: auto;
    position: relative;
  }

  &__image {
    width: 90%;
    padding-top: 5rem;
    // transition: all .3s ease-in-out;
    display: block;
    margin: 0 auto;

    @include respond(laptop) {
      // padding-top: 7rem;
      width: 100%;
      // margin-left: -6.5rem;
    }

    @include respond(pixel2XL) {
      padding-top: 3rem;
      width: 50%;
      // margin-left: -2rem;
    }

    @include respond(phone-tab) {
      // padding-top: 0;
      // margin-top: 5rem;
      width: 54%;
      // margin-left: 7rem;
    }

    @include respond(phone-tab) {
      // display: block;
      // margin: 0 auto;
      width: 40%;
      // padding-top: 0;
    }

    &--desktop {
      width: 100%;
    }
  }
}

.signup__container,
.login__container {
  display: inline-block;
  margin-top: 2rem;
  margin-right: 2rem;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-0.2rem);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}

.login__container {
  @include respond(phone-tab) {
    margin-right: 0;
  }
}

.login,
.signup {
  text-decoration: none;
  border-radius: 1rem;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
  padding: 1rem 3rem;
  font-weight: 600;
  font-size: 2rem;

  @include respond(laptop) {
    padding: 1rem 2.5rem;
    font-size: 1.6rem;
  }
  // box-shadow: 0 1rem 3rem rgba($color-black,.2);
}

.login {
  color: $color-football-light;
  background: $color-white;
  border: 1px solid $color-football-dark;
  cursor: pointer;

  &:hover {
    color: $color-football;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }
}

.signup {
  color: $color-white;
  background: $color-football-light;
  border: 1px solid $color-football-dark;
  cursor: pointer;

  &:hover {
    background: $color-football;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.8);
  }
}
