body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $color-grey-dark-1;
}

.heading-primary {
  color: $color-white;
  margin-bottom: 20px;
  backface-visibility: hidden;
  display: block;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;

  @include respond(laptop) {
    margin-bottom: 10px;
    font-size: 33px;
    line-height: 43px;
  }

  @include respond(pixel2XL) {
    font-size: 30px;
  }

  @include respond(phone-tab) {
    margin-bottom: 20px;
    backface-visibility: hidden;
    display: block;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
  }

  @include respond(largePhone) {
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 40px;
  }

  @include respond(phone) {
    font-size: 30px;
    line-height: 35px;
  }
  @include respond(smallPhone) {
    font-size: 26px;
    line-height: 30px;
  }
}

.heading-secondary {
  color: $color-white;
  margin-bottom: 30px;
  backface-visibility: hidden;
  display: block;
  font-size: 21px;
  line-height: 25px;
  font-weight: 300;

  @include respond(big-laptop) {
    font-size: 20px;
  }

  @include respond(laptop) {
    margin-bottom: 10px;
    font-size: 17px;
  }

  @include respond(pixel2XL) {
  }

  @include respond(phone-tab) {
  }
}

.heading-tertiary {
  backface-visibility: hidden;
  display: block;
  animation: MoveInRight 1s ease-out;

  @include respond(phone-tab) {
    text-align: center;
  }

  &--sub {
    color: $color-secondary-light;
    display: block;
    font-size: 45px;
    font-weight: 500;

    @include respond(pixel2XL) {
      font-size: 40px;
    }

    @include respond(smallPhone) {
      font-size: 35px;
      line-height: 0;
    }
  }

  &--main {
    color: $color-secondary-dark;
    display: block;
    line-height: 95px;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;

    @include respond(pixel2XL) {
      font-size: 50px;
    }

    @include respond(phone-tab) {
      margin-bottom: 40px;
    }

    @include respond(smallPhone) {
      font-size: 40px;
      margin-bottom: 0;
    }
  }

  &--line {
    display: block;
    width: 100px;
    height: 5px;
    background: $color-secondary-dark;

    @include respond(phone-tab) {
      display: none;
      visibility: hidden;
    }
  }
}

.heading-fourth {
  backface-visibility: hidden;
  display: block;
  animation: MoveInRight 1s ease-out;
  color: $color-white;
  display: block;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  color: $color-background;

  &--sub {
    // color: $color-background;
    display: inline-block;
    font-size: 35px;
    font-weight: 500;
    text-align: left;

    @include respond(phone-tab) {
      // display: block;
      text-align: center;
    }
  }

  &--main {
    // color: $color-white;
    display: inline-block;
    line-height: 25px;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;

    @include respond(phone-tab) {
      display: block;
      text-align: center;
      line-height: 50px;
    }

    @include respond(largePhone) {
      line-height: 45px;
    }
  }

  &--qmark {
    display: inline-block;
    line-height: 25px;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;

    @include respond(phone-tab) {
      margin-left: -5px;
      font-size: 50px;
      font-weight: 600;
    }
  }
}

.heading-fifth {
  backface-visibility: hidden;
  display: block;
  color: $color-white;
  font-size: 45px;
  font-weight: 500;
  text-align: center;

  @include respond(phone-tab) {
    margin-bottom: -10px;
  }

  @include respond(phone) {
    margin-bottom: 50px;
  }

  &--sub {
    color: $color-secondary-light;
    display: inline-block;
    font-size: 35px;
    font-weight: 500;
    text-align: left;

    @include respond(phone-tab) {
      display: block;
      text-align: center;
    }
  }

  &--main {
    color: $color-secondary-dark;
    display: inline-block;
    line-height: 25px;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;

    @include respond(phone-tab) {
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

.heading-sixth {
  margin-bottom: 60px;
  backface-visibility: hidden;
  display: block;
  animation: MoveInRight 1s ease-out;
  color: $color-background;

  @include respond(phone-tab) {
    margin: 60px;
  }

  &--sub {
    display: block;
    font-size: 45px;
    font-weight: 600;
    line-height: 55px;
    text-transform: uppercase;

    @include respond(phone-tab) {
      font-size: 39px;
      text-align: center;
    }
  }

  &--main {
    font-size: 60px;
    font-weight: 700;
    color: #7ed56f;

    @include respond(pixel2XL) {
      font-size: 50px;
    }

    @include respond(phone-tab) {
      font-size: 47px;
    }

    @include respond(smallPhone) {
      font-size: 42px;
      letter-spacing: -1px;
    }
  }

  &--line {
    display: block;
    width: 100px;
    height: 5px;
    background: $color-secondary-dark;

    @include respond(phone-tab) {
      display: none;
    }
  }
}

.lg-view {
  display: inline-block;
}

.sm-view {
  display: none;
}

@media screen and (max-width: 1016px) {
  .lg-view {
    display: none;
  }
  .sm-view {
    display: inline-block;
  }
}
