body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-dark-1;
}

.heading-primary {
  color: $color-white;
  margin-bottom: 2rem;
  backface-visibility: hidden;
  display: block;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5rem;

  @include respond(big-laptop) {
    font-size: 3.25rem;
  }

  @include respond(laptop) {
    margin-bottom: 1rem;
    font-size: 3.3rem;
    line-height: 4.3rem;
  }

  @include respond(pixel2XL) {
    font-size: 3.5rem;
    // margin-bottom: 2rem;
  }

  @include respond(phone-tab) {
    margin-bottom: 2rem;
    backface-visibility: hidden;
    display: block;
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem;
  }

  // @media only screen and (max-width: 86em) {
  //     font-size: 3.9rem;
  // }

  // @media only screen and (max-width: 84em) {
  //     font-size: 3.8rem;
  // }
}

.heading-secondary {
  color: $color-white;
  margin-bottom: 3rem;
  backface-visibility: hidden;
  display: block;
  font-size: 2.1rem;
  font-weight: 300;

  @include respond(big-laptop) {
    font-size: 2rem;
  }

  @include respond(laptop) {
    margin-bottom: 1rem;
    font-size: 1.7rem;
  }

  @include respond(pixel2XL) {
    // margin-bottom: 1rem;
    // font-size: 1.7rem;
  }

  @include respond(phone-tab) {
    // color: $color-white;
    // margin-bottom: 3rem;
    // backface-visibility: hidden;
    // display: block;
    // font-size: 2.1rem;
    // font-weight: 300;
  }
}

.heading-tertiary {
  margin-bottom: 5rem;
  backface-visibility: hidden;
  display: block;
  animation: MoveInRight 1s ease-out;

  @include respond(phone-tab) {
    text-align: center;
  }

  &--sub {
    color: $color-secondary-light;
    display: block;
    font-size: 4.5rem;
    font-weight: 500;

    @include respond(pixel2XL) {
      font-size: 4rem;
    }
  }

  &--main {
    color: $color-secondary-dark;
    display: block;
    line-height: 2.5rem;
    font-size: 6rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5rem;

    @include respond(pixel2XL) {
      font-size: 5rem;
    }

    @include respond(phone-tab) {
      margin-bottom: 4rem;
    }
  }

  &--line {
    display: block;
    width: 10rem;
    height: 0.5rem;
    background: $color-secondary-dark;

    @include respond(phone-tab) {
      display: none;
      visibility: hidden;
    }
  }
}

.heading-fourth {
  margin-bottom: -1rem;
  backface-visibility: hidden;
  display: block;
  animation: MoveInRight 1s ease-out;
  color: $color-white;
  display: block;
  font-size: 4.5rem;
  font-weight: 500;
  text-align: center;
  color: $color-background;

  &--sub {
    // color: $color-background;
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 500;
    text-align: left;

    @include respond(phone-tab) {
      // display: block;
      text-align: center;
    }
  }

  &--main {
    // color: $color-white;
    display: inline-block;
    line-height: 2.5rem;
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0rem;

    @include respond(phone-tab) {
      display: block;
      text-align: center;
    }

    @include respond(largePhone) {
      line-height: 4.5rem;
    }
  }

  &--qmark {
    display: inline-block;
    line-height: 2.5rem;
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0rem;

    @include respond(phone-tab) {
      margin-left: -0.5rem;
      font-size: 5rem;
      font-weight: 600;
    }
  }
}

.heading-fifth {
  backface-visibility: hidden;
  display: block;
  color: $color-white;
  font-size: 4.5rem;
  font-weight: 500;
  text-align: center;

  @include respond(phone-tab) {
    margin-bottom: -1rem;
  }

  &--sub {
    color: $color-secondary-light;
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 500;
    text-align: left;

    @include respond(phone-tab) {
      display: block;
      text-align: center;
    }
  }

  &--main {
    color: $color-secondary-dark;
    display: inline-block;
    line-height: 2.5rem;
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0rem;

    @include respond(phone-tab) {
      display: block;
      text-align: center;
      margin-bottom: 1rem;
    }
  }
}

.heading-sixth {
  margin-bottom: 5rem;
  backface-visibility: hidden;
  display: block;
  animation: MoveInRight 1s ease-out;
  color: $color-background;
  // padding-left: 26rem;

  &--sub {
    display: block;
    font-size: 4.5rem;
    font-weight: 600;
    margin-bottom: -4rem;
    text-transform: uppercase;

    @include respond(phone-tab) {
      font-size: 3.9rem;
      margin-bottom: -3rem;
      text-align: center;
    }
  }

  &--main {
    background: -webkit-linear-gradient(
      $color-secondary-light,
      $color-secondary-dark
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    font-size: 6rem;
    font-weight: 700;

    @include respond(pixel2XL) {
      font-size: 5rem;
    }

    @include respond(phone-tab) {
      font-size: 4.7rem;
    }

    @include respond(smallPhone) {
      font-size: 4.2rem;
      letter-spacing: -1px;
    }
  }

  &--line {
    display: block;
    width: 10rem;
    height: 0.5rem;
    background: $color-secondary-dark;

    @include respond(phone-tab) {
      display: none;
    }
  }
}

.lg-view {
  display: inline-block;
}

.sm-view {
  display: none;
}

@media screen and (max-width: 1016px) {
  .lg-view {
    display: none;
  }
  .sm-view {
    display: inline-block;
  }
}
