/*
0 - 320px: phone small
320px - 375px: phone medium
375px - 425px: phone large
425px - 768px: tablet

600 - 900px:     tablet portrait
900 - 1200px:    tablet landscape
1200 - 1800     is where the normal styles apply
1800+ :           big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 26.6em) {
    html {
      font-size: 30%; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  margin-bottom: 2rem;
  backface-visibility: hidden;
  display: block;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5rem; }
  @media (max-width: 84em) {
    .heading-primary {
      font-size: 3.25rem; } }
  @media (max-width: 72em) {
    .heading-primary {
      margin-bottom: 1rem;
      font-size: 3.3rem;
      line-height: 4.3rem; } }
  @media (max-width: 52em) {
    .heading-primary {
      font-size: 3.5rem; } }
  @media (max-width: 43.75em) {
    .heading-primary {
      margin-bottom: 2rem;
      backface-visibility: hidden;
      display: block;
      font-size: 4rem;
      font-weight: 700;
      line-height: 5rem; } }

.heading-secondary {
  color: #fff;
  margin-bottom: 3rem;
  backface-visibility: hidden;
  display: block;
  font-size: 2.1rem;
  font-weight: 300; }
  @media (max-width: 84em) {
    .heading-secondary {
      font-size: 2rem; } }
  @media (max-width: 72em) {
    .heading-secondary {
      margin-bottom: 1rem;
      font-size: 1.7rem; } }

.heading-tertiary {
  margin-bottom: 5rem;
  backface-visibility: hidden;
  display: block;
  animation: MoveInRight 1s ease-out; }
  @media (max-width: 43.75em) {
    .heading-tertiary {
      text-align: center; } }
  .heading-tertiary--sub {
    color: #7ed56f;
    display: block;
    font-size: 4.5rem;
    font-weight: 500; }
    @media (max-width: 52em) {
      .heading-tertiary--sub {
        font-size: 4rem; } }
  .heading-tertiary--main {
    color: #28b485;
    display: block;
    line-height: 2.5rem;
    font-size: 6rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5rem; }
    @media (max-width: 52em) {
      .heading-tertiary--main {
        font-size: 5rem; } }
    @media (max-width: 43.75em) {
      .heading-tertiary--main {
        margin-bottom: 4rem; } }
  .heading-tertiary--line {
    display: block;
    width: 10rem;
    height: .5rem;
    background: #28b485; }
    @media (max-width: 43.75em) {
      .heading-tertiary--line {
        display: none;
        visibility: hidden; } }

.heading-fourth {
  margin-bottom: -1rem;
  backface-visibility: hidden;
  display: block;
  animation: MoveInRight 1s ease-out;
  color: #fff;
  display: block;
  font-size: 4.5rem;
  font-weight: 500;
  text-align: center;
  color: #f2f5ff; }
  .heading-fourth--sub {
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 500;
    text-align: left; }
    @media (max-width: 43.75em) {
      .heading-fourth--sub {
        text-align: center; } }
  .heading-fourth--main {
    display: inline-block;
    line-height: 2.5rem;
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0rem; }
    @media (max-width: 43.75em) {
      .heading-fourth--main {
        display: block;
        text-align: center; } }
  .heading-fourth--qmark {
    display: inline-block;
    line-height: 2.5rem;
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0rem; }
    @media (max-width: 43.75em) {
      .heading-fourth--qmark {
        margin-left: -.5rem;
        font-size: 5rem;
        font-weight: 600; } }

.heading-fifth {
  backface-visibility: hidden;
  display: block;
  color: #fff;
  font-size: 4.5rem;
  font-weight: 500;
  text-align: center; }
  @media (max-width: 43.75em) {
    .heading-fifth {
      margin-bottom: -1rem; } }
  .heading-fifth--sub {
    color: #7ed56f;
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 500;
    text-align: left; }
    @media (max-width: 43.75em) {
      .heading-fifth--sub {
        display: block;
        text-align: center; } }
  .heading-fifth--main {
    color: #28b485;
    display: inline-block;
    line-height: 2.5rem;
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0rem; }
    @media (max-width: 43.75em) {
      .heading-fifth--main {
        display: block;
        text-align: center;
        margin-bottom: 1rem; } }

.heading-sixth {
  margin-bottom: 5rem;
  backface-visibility: hidden;
  display: block;
  animation: MoveInRight 1s ease-out;
  color: #f2f5ff; }
  .heading-sixth--sub {
    display: block;
    font-size: 4.5rem;
    font-weight: 600;
    margin-bottom: -4rem;
    text-transform: uppercase; }
    @media (max-width: 43.75em) {
      .heading-sixth--sub {
        font-size: 3.9rem;
        margin-bottom: -3rem;
        text-align: center; } }
  .heading-sixth--main {
    background: -webkit-linear-gradient(#7ed56f, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    font-size: 6rem;
    font-weight: 700; }
    @media (max-width: 52em) {
      .heading-sixth--main {
        font-size: 5rem; } }
    @media (max-width: 43.75em) {
      .heading-sixth--main {
        font-size: 4.7rem; } }
    @media (max-width: 20em) {
      .heading-sixth--main {
        font-size: 4.2rem;
        letter-spacing: -1px; } }
  .heading-sixth--line {
    display: block;
    width: 10rem;
    height: .5rem;
    background: #28b485; }
    @media (max-width: 43.75em) {
      .heading-sixth--line {
        display: none; } }

.lg-view {
  display: inline-block; }

.sm-view {
  display: none; }

@media screen and (max-width: 1016px) {
  .lg-view {
    display: none; }
  .sm-view {
    display: inline-block; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 3rem !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.row {
  max-width: 138rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
  .row .col-1-of-1 {
    width: 100%; }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2); }
    @media (max-width: 52em) {
      .row .col-1-of-2--faq {
        width: 100%; } }
    @media (max-width: 43.75em) {
      .row .col-1-of-2 {
        width: 100%; } }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 4rem) / 3); }
    @media (max-width: 52em) {
      .row .col-1-of-3 {
        width: 100%; } }
  .row .col-2-of-3 {
    width: calc((2 * (100% - 2 * 4rem) / 3) + 4rem); }
    @media (max-width: 43.75em) {
      .row .col-2-of-3 {
        width: 100%; } }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 4rem) / 4); }
    @media (max-width: 43.75em) {
      .row .col-1-of-4 {
        width: 100%; } }
  .row .col-2-of-4 {
    width: calc((2 * (100% - 3 * 4rem) / 4) + (4rem)); }
    @media (max-width: 43.75em) {
      .row .col-2-of-4 {
        width: 100%; } }
  .row .col-3-of-4 {
    width: calc((3 * (100% - 3 * 4rem) / 4) + 2 * (4rem)); }
    @media (max-width: 43.75em) {
      .row .col-3-of-4 {
        width: 100%; } }
  .row .col-1-of-6 {
    width: calc((100% - 5 * 4rem) / 6); }
    @media (max-width: 72em) {
      .row .col-1-of-6 {
        width: calc((100% - 2 * 2rem) / 3); } }
    @media (max-width: 43.75em) {
      .row .col-1-of-6 {
        width: calc((100% - 4rem) / 2); } }
  .row .col-5-of-12 {
    width: calc((5 * (100% - 11 * 4rem) / 12) + 4 * (4rem)); }
    @media (max-width: 72em) {
      .row .col-5-of-12 {
        width: 47%; } }
    @media (max-width: 43.75em) {
      .row .col-5-of-12 {
        width: 100%; } }
  .row .col-7-of-12 {
    width: calc((7 * (100% - 11 * 4rem) / 12) + 6 * (4rem)); }
    @media (max-width: 72em) {
      .row .col-7-of-12 {
        width: 47%; } }
    @media (max-width: 43.75em) {
      .row .col-7-of-12 {
        width: 100%; } }

.header {
  background-image: linear-gradient(-115deg, rgba(41, 128, 185, 0.95) 0%, rgba(1, 20, 88, 0.95) 80%);
  height: 73.8rem;
  color: white;
  padding-top: 11rem;
  clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
  background-position: top;
  background-size: cover; }
  @media (max-width: 72em) {
    .header {
      height: 63rem; } }
  @media (max-width: 52em) {
    .header {
      height: 60rem; } }
  @media (max-width: 43.75em) {
    .header {
      height: 110rem;
      clip-path: polygon(50% 100%, 100% 97%, 100% 0, 0 0, 0 97%); } }
  @media (max-width: 31.25em) {
    .header {
      height: 95rem; } }
  @media (max-width: 26.6em) {
    .header {
      height: 120rem; } }
  @media (max-width: 23.5em) {
    .header {
      height: 125rem;
      clip-path: polygon(50% 100%, 100% 95%, 100% 0, 0 0, 0 95%); } }
  @media (max-width: 20em) {
    .header {
      clip-path: polygon(50% 100%, 100% 95%, 100% 0, 0 0, 0 95%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 6rem;
    width: 25%; }
  .header__logo {
    width: 40%; }
    @media (max-width: 72em) {
      .header__logo {
        width: 50%; } }
    @media (max-width: 43.75em) {
      .header__logo {
        width: 60%; } }
  .header__row {
    height: 100%; }
    @media (max-width: 43.75em) {
      .header__row {
        height: auto; } }
  .header__left {
    position: relative;
    height: 100%; }
    @media (max-width: 72em) {
      .header__left {
        margin-top: 5rem; } }
    @media (max-width: 52em) {
      .header__left {
        margin-top: 0rem; } }
  .header__box {
    width: 100%;
    position: absolute;
    top: 15%;
    padding-left: 6rem; }
    @media (max-width: 72em) {
      .header__box {
        top: 8%; } }
    @media (max-width: 43.75em) {
      .header__box {
        position: relative;
        text-align: center;
        padding: 8rem 9rem;
        padding-bottom: 2rem;
        top: 0; } }
    @media (max-width: 31.25em) {
      .header__box {
        padding: 5rem;
        padding-bottom: 2rem; } }
    @media (max-width: 26.6em) {
      .header__box {
        padding: 6rem 14rem;
        padding-bottom: 2rem; } }
    @media (max-width: 23.5em) {
      .header__box {
        padding: 6rem 14rem; } }
    @media (max-width: 20em) {
      .header__box {
        padding: 6rem 15rem; } }
  .header__text {
    display: inline-block;
    text-align: center; }
  .header__right {
    height: auto; }
    .header__right__text {
      text-align: center; }
  .header__container__image {
    height: auto;
    position: relative; }
  .header__image {
    width: 90%;
    padding-top: 5rem;
    display: block;
    margin: 0 auto; }
    @media (max-width: 72em) {
      .header__image {
        width: 100%; } }
    @media (max-width: 52em) {
      .header__image {
        padding-top: 3rem;
        width: 50%; } }
    @media (max-width: 43.75em) {
      .header__image {
        width: 54%; } }
    @media (max-width: 43.75em) {
      .header__image {
        width: 40%; } }
    .header__image--desktop {
      width: 100%; }

.signup__container,
.login__container {
  display: inline-block;
  margin-top: 2rem;
  margin-right: 2rem;
  transition: all .2s; }
  .signup__container:hover,
  .login__container:hover {
    transform: translateY(-0.2rem); }
  .signup__container:active, .signup__container:focus,
  .login__container:active,
  .login__container:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

@media (max-width: 43.75em) {
  .login__container {
    margin-right: 0; } }

.login,
.signup {
  text-decoration: none;
  border-radius: 1rem;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
  padding: 1rem 3rem;
  font-weight: 600;
  font-size: 2rem; }
  @media (max-width: 72em) {
    .login,
    .signup {
      padding: 1rem 2.5rem;
      font-size: 1.6rem; } }

.login {
  color: #2ed099;
  background: #fff;
  border: 1px solid #196e51;
  cursor: pointer; }
  .login:hover {
    color: #229870;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.signup {
  color: #fff;
  background: #2ed099;
  border: 1px solid #196e51;
  cursor: pointer; }
  .signup:hover {
    background: #229870;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #196e51;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 4rem;
  right: 5rem;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 72em) {
    .navigation__button {
      height: 6rem;
      width: 6rem; } }
  @media (max-width: 52em) {
    .navigation__button {
      top: 4.7rem;
      right: 4.5rem; } }
  @media (max-width: 48em) {
    .navigation__button {
      top: 4.2rem;
      right: 4rem;
      position: absolute; } }

.navigation__container {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%; }
  @media (max-width: 48em) {
    .navigation__container {
      position: absolute; } }

.navigation__background {
  height: 9rem;
  width: 9rem;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  position: absolute;
  border-radius: 1rem;
  top: 2.8rem;
  right: 4rem;
  background-image: radial-gradient(#28b485, #7ed56f);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }
  @media (max-width: 72em) {
    .navigation__background {
      height: 8.1rem;
      width: 8.1rem; } }
  @media (max-width: 52em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }
  @media (max-width: 48em) {
    .navigation__background {
      top: 3rem;
      right: 3rem;
      position: absolute; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__blurspace {
  width: 50%;
  height: 100vh; }

.navigation__list {
  position: absolute;
  top: 55%;
  left: 80%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 50%; }
  @media (max-width: 72em) {
    .navigation__list {
      left: 72%; } }
  @media (max-width: 48em) {
    .navigation__list {
      left: 34%;
      top: 48%; } }

.navigation__header {
  position: absolute;
  top: 25%;
  left: 75%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 3.5rem; }

.navigation__item {
  margin: 1rem; }
  @media (max-width: 72em) {
    .navigation__item {
      margin-top: 0;
      margin-bottom: 0; } }

.navigation__link {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(105deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s;
  cursor: pointer; }
  @media (max-width: 72em) {
    .navigation__link {
      padding: 0 2rem; } }
  .navigation__link span {
    margin-right: 1.5rem;
    display: inline-block; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #196e51;
    transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__container {
  height: 100vh;
  transition: all .5s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .navigation__checkbox:checked ~ .navigation__container {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.8); } }

.navigation__checkbox:checked ~ .navigation__container > .navigation__background {
  transform: scale(15);
  overflow: hidden; }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.8rem; }
  @media (max-width: 72em) {
    .navigation__icon {
      margin-top: 3.3rem; } }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #fff;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.footer {
  padding: 25rem 0;
  background-color: #f2f5ff;
  margin-top: -10rem; }

.athlete__slideshow-container {
  position: relative; }

.mySlides {
  position: absolute;
  transition: all 1s; }
  @media (max-width: 52em) {
    .mySlides {
      transform: scale(0.8);
      left: -3rem;
      top: -4rem; } }
  @media (max-width: 43.75em) {
    .mySlides {
      transform: scale(0.7);
      top: -4rem;
      left: 14.3rem; } }
  @media (max-width: 40em) {
    .mySlides {
      left: 12rem; } }
  @media (max-width: 31.25em) {
    .mySlides {
      left: 4rem; } }
  @media (max-width: 26.6em) {
    .mySlides {
      transform: scale(0.45);
      top: -17rem;
      left: 7.5rem; } }
  @media (max-width: 23.5em) {
    .mySlides {
      left: 2rem; } }
  @media (max-width: 20em) {
    .mySlides {
      left: -3.5rem; } }

.athlete {
  padding-left: 2.5rem;
  filter: drop-shadow(0 1.5rem 5rem rgba(0, 0, 0, 0.25));
  opacity: 0;
  visibility: hidden;
  transition: all 1s; }

.popup__1 {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup__1 {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.8); } }
  .popup__1__blankspace {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw; }
  .popup__1__registration {
    width: 43.2rem;
    max-width: 432px;
    height: 70rem;
    background-image: linear-gradient(#28b485, #7ed56f);
    position: fixed;
    z-index: 3000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
    border-radius: 2rem; }
    @media (max-width: 72em) {
      .popup__1__registration {
        min-width: 432px; } }
    @media (max-width: 48em) {
      .popup__1__registration {
        min-width: 423px; } }
    @media (max-width: 26.6em) {
      .popup__1__registration {
        min-width: 201px; } }

.registration__icon {
  position: absolute;
  top: 5rem;
  right: 4rem;
  cursor: pointer; }
  .registration__icon, .registration__icon::before, .registration__icon::after {
    width: 4rem;
    height: 2px;
    background-color: #fff;
    display: inline-block; }
  .registration__icon::before, .registration__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .registration__icon {
    background-color: transparent; }
  .registration__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .registration__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.registration__form__header {
  color: #fff;
  margin-bottom: 1.5rem;
  text-align: center; }
  .registration__form__header--main {
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: -.5rem; }
  .registration__form__header--sub {
    font-size: 1.6rem;
    font-weight: 300; }
    .registration__form__header--sub__login--bold {
      color: #021b79;
      font-weight: 500;
      cursor: pointer;
      margin-left: .6rem; }

.registration__form__or__line {
  display: inline-block;
  width: 32%;
  height: .5rem;
  margin-bottom: 1rem; }
  .registration__form__or__line--left, .registration__form__or__line--right {
    background-color: white;
    line-height: 1px; }
  .registration__form__or__line--text {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
    height: auto; }
  .registration__form__or__line__container {
    width: 100%; }

.registration__form__group:not(:last-child) {
  margin-bottom: 1.5rem; }

.registration__form__inline {
  display: inline-block;
  width: 49%; }
  .registration__form__inline > input {
    margin-right: 2rem; }

.registration__form__input {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all .3s; }
  .registration__form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(3, 38, 171, 0.1);
    border-bottom: 3px solid #0326ab; }
  .registration__form__input:focus:invalid {
    border-bottom: 3px solid #b5001a; }
  .registration__form__input::-webkit-input-placeholder {
    color: #555; }

.registration__form__label {
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 2rem;
  display: block;
  transition: all .3s;
  color: #021b79; }

.registration__form__input:placeholder-shown + .registration__form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.registration__form__radio-input {
  display: none; }

.registration__form__radio-label {
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
  color: #fff; }

.registration__form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 4px solid #021b79;
  border-radius: 1rem;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .registration__form__radio-button::after {
    content: "";
    display: block;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #021b79;
    opacity: 0;
    transition: opacity .2s; }
  .registration__form__radio-button--bold {
    color: #021b79;
    font-weight: 700;
    cursor: pointer;
    margin-left: .1rem; }

.registration__form__radio-input:checked ~ .registration__form__radio-label .registration__form__radio-button::after {
  opacity: 1; }

.registration__form__submit {
  color: white;
  display: inline-block;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  width: 100%;
  background: #021b79;
  border: none;
  border-radius: 1rem;
  padding: 1rem 1.2rem;
  margin-top: 3rem; }

.registration__fieldset {
  border: none;
  padding: 3rem; }

.registration__social {
  margin-bottom: 1.5rem;
  width: 47%;
  height: 4rem;
  padding: .5rem;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
  font-size: 1.7rem;
  font-weight: 500;
  align-items: center;
  justify-content: center; }
  .registration__social__text {
    line-height: 1rem;
    display: inline-block;
    margin-bottom: 3px; }
  .registration__social__icon {
    align-items: center;
    justify-content: center; }
  .registration__social__icon > img {
    height: 18px;
    margin: 0 1.5rem -.3rem 0; }
    @media (max-width: 26.6em) {
      .registration__social__icon > img {
        height: 10px; } }
  .registration__social--fb {
    margin-right: 1.7rem;
    background-color: #3b5998;
    color: #fff; }
  .registration__social--google {
    color: #353d56; }
  .registration__social__header {
    color: #fff;
    font-weight: 300; }

.popup__2 {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup__2 {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.8); } }
  .popup__2__blankspace {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw; }
  .popup__2__login {
    width: 43.2rem;
    max-width: 432px;
    background-image: linear-gradient(#28b485, #7ed56f);
    position: fixed;
    z-index: 3000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
    border-radius: 2rem; }
    @media (max-width: 72em) {
      .popup__2__login {
        min-width: 432px; } }
    @media (max-width: 48em) {
      .popup__2__login {
        min-width: 423px; } }
    @media (max-width: 26.6em) {
      .popup__2__login {
        min-width: 201px; } }

.login__icon {
  position: absolute;
  top: 5rem;
  right: 4rem;
  cursor: pointer; }
  .login__icon, .login__icon::before, .login__icon::after {
    width: 4rem;
    height: 2px;
    background-color: #fff;
    display: inline-block; }
  .login__icon::before, .login__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .login__icon {
    background-color: transparent; }
  .login__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .login__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.login__form__header {
  color: #fff;
  margin-bottom: 1.5rem;
  text-align: center; }
  .login__form__header--main {
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: -.5rem; }
  .login__form__header--sub {
    font-size: 1.6rem;
    font-weight: 300; }
    .login__form__header--sub__login--bold {
      color: #021b79;
      font-weight: 500;
      cursor: pointer;
      margin-left: .6rem; }

.login__form__or__line {
  display: inline-block;
  width: 32%;
  height: .5rem;
  margin-bottom: 1rem; }
  .login__form__or__line--left, .login__form__or__line--right {
    background-color: white;
    line-height: 1px; }
  .login__form__or__line--text {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
    height: auto; }
  .login__form__or__line__container {
    width: 100%; }

.login__form__group--first {
  margin-bottom: 1.5rem; }

.login__form__inline {
  display: inline-block;
  width: 49%; }
  .login__form__inline > input {
    margin-right: 2rem; }

.login__form__input {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all .3s; }
  .login__form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(3, 38, 171, 0.1);
    border-bottom: 3px solid #0326ab; }
  .login__form__input:focus:invalid {
    border-bottom: 3px solid #b5001a; }
  .login__form__input::-webkit-input-placeholder {
    color: #555; }

.login__form__label {
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 2rem;
  display: block;
  transition: all .3s;
  color: #021b79; }

.login__form__input:placeholder-shown + .login__form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.login__form__pwd__forgot {
  font-size: 1.6rem;
  color: #021b79;
  font-weight: 500;
  cursor: pointer;
  margin-left: .6rem;
  text-align: right; }

.login__form__submit {
  color: white;
  display: inline-block;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  width: 100%;
  background: #021b79;
  border: none;
  border-radius: 1rem;
  padding: 1rem 1.2rem;
  margin-top: 3rem; }

.login__fieldset {
  border: none;
  padding: 3rem; }

.login__social {
  margin-bottom: 1.5rem;
  width: 47%;
  height: 4rem;
  padding: .5rem;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
  font-size: 1.7rem;
  font-weight: 500;
  align-items: center;
  justify-content: center; }
  .login__social__text {
    line-height: 1rem;
    display: inline-block;
    margin-bottom: 3px; }
  .login__social__icon {
    align-items: center;
    justify-content: center; }
  .login__social__icon > img {
    height: 18px;
    margin: 0 1.5rem -.3rem 0; }
    @media (max-width: 26.6em) {
      .login__social__icon > img {
        height: 10px; } }
  .login__social--fb {
    margin-right: 1.7rem;
    background-color: #3b5998;
    color: #fff; }
  .login__social--google {
    color: #353d56; }
  .login__social__header {
    color: #fff;
    font-weight: 300; }

.section-about {
  background-color: #f2f5ff;
  padding: 20rem 0;
  padding-bottom: 30rem;
  margin-top: -20rem; }
  @media (max-width: 72em) {
    .section-about {
      margin-top: -50rem;
      padding-bottom: 25rem; } }
  @media (max-width: 52em) {
    .section-about {
      margin-top: -15rem; } }
  @media (max-width: 43.75em) {
    .section-about {
      padding-bottom: 20rem;
      margin-top: -15rem; } }
  @media (max-width: 31.25em) {
    .section-about {
      padding-bottom: 17rem;
      margin-top: -18rem; } }
  @media (max-width: 26.6em) {
    .section-about {
      padding-bottom: 25rem; } }
  @media (max-width: 23.5em) {
    .section-about {
      padding-bottom: 20rem; } }

.about__left {
  padding: 5rem;
  padding-left: 12rem; }
  @media (max-width: 72em) {
    .about__left {
      padding-top: 1rem;
      padding-left: 6rem; } }
  @media (max-width: 43.75em) {
    .about__left {
      padding: 3rem; } }

.about__right {
  background: linear-gradient(#7ed56f, #28b485);
  margin-top: 7rem;
  padding: 5rem;
  color: white;
  width: 80%;
  margin-left: 5rem;
  border-radius: 5px;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15); }
  @media (max-width: 72em) {
    .about__right {
      width: 95%;
      margin-left: -1rem;
      margin-top: 2rem; } }
  @media (max-width: 52em) {
    .about__right {
      padding: 3rem 4rem; } }
  @media (max-width: 43.75em) {
    .about__right {
      margin: 0 auto;
      margin-top: 27rem;
      width: 70%; } }
  @media (max-width: 26.6em) {
    .about__right {
      margin-top: 35rem; } }
  .about__right__text--main {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1.8rem;
    display: block; }
  .about__right__text--sub {
    font-size: 2.2rem;
    font-weight: 300;
    display: block; }
    .about__right__text--sub:not(:last-child) {
      margin-bottom: 2.5rem; }
  .about__right__text--line {
    display: block;
    width: 6rem;
    height: .3rem;
    background: #fff;
    margin-bottom: 2.5rem; }
    @media (max-width: 72em) {
      .about__right__text--line {
        width: 10rem; } }
  @media (max-width: 52em) {
    .about__right__text {
      line-height: initial; } }

.section-how {
  background: linear-gradient(to right, #2980b9, #011458);
  padding: 20rem 10rem;
  clip-path: polygon(50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
  margin-top: -20rem;
  color: #fff; }
  @media (max-width: 72em) {
    .section-how {
      padding: 15rem 10rem; } }
  @media (max-width: 52em) {
    .section-how {
      padding: 12rem 10rem;
      clip-path: polygon(50% 5%, 100% 0, 100% 96%, 50% 100%, 0 96%, 0 0); } }
  @media (max-width: 43.75em) {
    .section-how {
      clip-path: polygon(50% 2%, 100% 0, 100% 97%, 50% 100%, 0 97%, 0 0);
      margin-top: -20%;
      height: 175rem;
      padding: 12rem 4rem; } }
  @media (max-width: 31.25em) {
    .section-how {
      clip-path: polygon(50% 2%, 100% 0, 100% 98%, 50% 100%, 0 98%, 0 0);
      padding: 12rem 5rem;
      height: 170rem; } }
  @media (max-width: 20em) {
    .section-how {
      padding-top: 17rem; } }
  .section-how__container {
    height: 40rem;
    width: 100%;
    position: relative;
    filter: drop-shadow(0 1.5rem 5rem black); }
    @media (max-width: 72em) {
      .section-how__container {
        width: 115%;
        margin-left: -7rem;
        margin-top: -2rem; } }
    @media (max-width: 52em) {
      .section-how__container {
        margin-left: -5rem; } }
    @media (max-width: 43.75em) {
      .section-how__container {
        margin-left: -4.5rem; } }
    @media (max-width: 31.25em) {
      .section-how__container {
        margin-left: -3rem; } }
    @media (max-width: 26.6em) {
      .section-how__container {
        margin-left: -6rem; } }
    @media (max-width: 20em) {
      .section-how__container {
        margin-left: -4rem; } }
  .section-how__chevron {
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    display: inline-block;
    transition: all .2s; }
    @media (max-width: 43.75em) {
      .section-how__chevron {
        display: block;
        position: relative;
        margin-bottom: -4rem; } }
    .section-how__chevron--1 {
      left: 0;
      background-color: rgba(242, 245, 255, 0.9);
      clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
      width: 25.5%;
      border-radius: 2rem 0 0 2rem; }
      @media (max-width: 72em) {
        .section-how__chevron--1 {
          width: 24.5%; } }
      @media (max-width: 43.75em) {
        .section-how__chevron--1 {
          display: block;
          position: relative;
          height: 35rem;
          width: 80%;
          margin: 0 auto;
          clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0% 85%);
          border-radius: 2rem;
          margin-top: -2rem; } }
    .section-how__chevron--2 {
      left: 24%;
      background-color: rgba(242, 245, 255, 0.93);
      clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
      width: 26.5%; }
      @media (max-width: 72em) {
        .section-how__chevron--2 {
          width: 27.5%;
          left: 23%; } }
      @media (max-width: 43.75em) {
        .section-how__chevron--2 {
          clip-path: polygon(50% 13%, 100% 0, 100% 75%, 50% 88%, 0% 75%, 0 0);
          left: 0;
          width: 80%;
          margin: 0 auto;
          margin-top: -4rem;
          position: relative; } }
    .section-how__chevron--3 {
      left: 49%;
      background-color: rgba(242, 245, 255, 0.96);
      clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
      width: 26.5%; }
      @media (max-width: 72em) {
        .section-how__chevron--3 {
          width: 27.5%;
          left: 49%; } }
      @media (max-width: 43.75em) {
        .section-how__chevron--3 {
          clip-path: polygon(50% 13%, 100% 0, 100% 75%, 50% 88%, 0% 75%, 0 0);
          left: 0;
          width: 80%;
          margin: 0 auto;
          margin-top: -8rem;
          position: relative; } }
    .section-how__chevron--4 {
      left: 74%;
      background-color: #f2f5ff;
      clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 10% 50%, 0% 0%);
      width: 26%;
      border-radius: 0 2rem 2rem 0; }
      @media (max-width: 72em) {
        .section-how__chevron--4 {
          width: 25%;
          left: 75%; } }
      @media (max-width: 43.75em) {
        .section-how__chevron--4 {
          clip-path: polygon(50% 13%, 100% 0, 100% 75%, 100% 100%, 0% 100%, 0 0);
          border-radius: 0 0 3rem 3rem;
          left: 0;
          width: 80%;
          margin: 0 auto;
          margin-top: -8rem;
          position: relative;
          height: 35rem; } }

.chevron__header {
  padding: 1rem 3rem;
  font-size: 4rem;
  font-weight: 900;
  color: #dcc515;
  margin-bottom: -2rem; }
  .chevron__header--sub {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: #dcc515;
    margin-bottom: 1.5rem; }
    @media (max-width: 72em) {
      .chevron__header--sub {
        font-size: 2.5rem;
        margin-bottom: 1rem; } }
    @media (max-width: 52em) {
      .chevron__header--sub {
        font-size: 2rem; } }
    @media (max-width: 43.75em) {
      .chevron__header--sub {
        position: absolute;
        top: 18%;
        left: 54%;
        transform: translateX(-50%); } }
    @media (max-width: 20em) {
      .chevron__header--sub {
        left: 56%; } }
    .chevron__header--sub--2, .chevron__header--sub--3 {
      padding-left: 1rem; }
      @media (max-width: 43.75em) {
        .chevron__header--sub--2, .chevron__header--sub--3 {
          position: absolute;
          top: 20%;
          left: 53%; } }
    @media (max-width: 43.75em) {
      .chevron__header--sub--4 {
        position: absolute;
        top: 18%;
        left: 47%; } }

.chevron__text {
  width: 65%;
  margin: 0 auto;
  font-size: 1.8rem;
  font-weight: 400;
  color: #021b79;
  text-align: center; }
  @media (max-width: 72em) {
    .chevron__text {
      font-size: 1.6rem; } }
  @media (max-width: 52em) {
    .chevron__text {
      font-size: 1.5rem; } }
  @media (max-width: 43.75em) {
    .chevron__text {
      position: absolute;
      top: 32%;
      right: 18%;
      text-align: left;
      width: 45%; } }
  @media (max-width: 23.5em) {
    .chevron__text {
      top: 32%;
      right: 20%; } }
  @media (max-width: 20em) {
    .chevron__text {
      position: absolute;
      top: 32%;
      right: 13%;
      text-align: left;
      width: 55%; } }
  .chevron__text--bold {
    font-size: 1.9rem;
    font-weight: 700;
    color: #011458; }
    @media (max-width: 72em) {
      .chevron__text--bold {
        font-size: 1.7rem; } }
  .chevron__text--2, .chevron__text--3 {
    padding-left: 1rem; }
  .chevron__text--4 {
    top: 32%; }

.chevron__icon {
  width: 25%;
  display: block;
  margin: 0 auto;
  margin-top: 4rem; }
  @media (max-width: 72em) {
    .chevron__icon {
      width: 23%; } }
  @media (max-width: 43.75em) {
    .chevron__icon {
      width: 20%;
      margin: 0;
      position: absolute;
      top: 45%;
      left: 7%;
      transform: translateY(-50%); } }

.section-sports {
  background-color: #f2f5ff;
  padding: 20rem 0;
  margin-top: -15rem; }
  @media (max-width: 72em) {
    .section-sports {
      height: 130rem; } }
  @media (max-width: 43.75em) {
    .section-sports {
      padding-bottom: 15rem;
      margin-top: -10rem;
      height: 160rem; } }
  @media (max-width: 31.25em) {
    .section-sports {
      height: 155rem; } }
  @media (max-width: 26.6em) {
    .section-sports {
      height: 165rem; } }
  @media (max-width: 20em) {
    .section-sports {
      padding: 25rem 0 15rem 0;
      margin-top: -15rem; } }

.row__icon__sport,
.row__container__icon__sport {
  max-width: 120rem;
  position: relative; }
  @media (max-width: 72em) {
    .row__icon__sport,
    .row__container__icon__sport {
      padding: 0 4rem; } }

@media (max-width: 72em) {
  .col__sport {
    position: absolute; } }

@media (max-width: 72em) {
  .col__sport--calcio {
    top: 0;
    left: 0; } }

@media (max-width: 43.75em) {
  .col__sport--calcio {
    top: 0;
    left: 2rem; } }

@media (max-width: 72em) {
  .col__sport--basket {
    top: 50rem;
    left: 0; } }

@media (max-width: 52em) {
  .col__sport--basket {
    top: 53rem; } }

@media (max-width: 43.75em) {
  .col__sport--basket {
    top: 50rem;
    left: 2rem; } }

@media (max-width: 26.6em) {
  .col__sport--basket {
    top: 53rem;
    left: 2rem; } }

@media (max-width: 72em) {
  .col__sport--football {
    top: 0;
    left: 66%; } }

@media (max-width: 43.75em) {
  .col__sport--football {
    top: 50rem;
    left: 50%; } }

@media (max-width: 26.6em) {
  .col__sport--football {
    top: 53rem; } }

@media (max-width: 72em) {
  .col__sport--tennis {
    top: 0;
    left: 33%; } }

@media (max-width: 43.75em) {
  .col__sport--tennis {
    top: 0;
    left: 50%; } }

@media (max-width: 72em) {
  .col__sport--motori {
    top: 50rem;
    left: 33%; } }

@media (max-width: 52em) {
  .col__sport--motori {
    top: 53rem; } }

@media (max-width: 43.75em) {
  .col__sport--motori {
    top: 78rem;
    left: 2rem; } }

@media (max-width: 26.6em) {
  .col__sport--motori {
    top: 83rem; } }

@media (max-width: 72em) {
  .col__sport--baseball {
    top: 50rem;
    left: 66%; } }

@media (max-width: 52em) {
  .col__sport--baseball {
    top: 53rem; } }

@media (max-width: 43.75em) {
  .col__sport--baseball {
    top: 78rem;
    left: 50%; } }

@media (max-width: 26.6em) {
  .col__sport--baseball {
    top: 83rem; } }

.icon__sport {
  padding: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 2rem;
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: -2rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3); }
  @media (max-width: 72em) {
    .icon__sport {
      width: 30%; } }
  @media (max-width: 43.75em) {
    .icon__sport {
      width: 25%; } }
  .icon__sport--calcio, .icon__sport--football {
    background: radial-gradient(#2ed099, #196e51); }
  .icon__sport--basket {
    background: radial-gradient(#f68658, #cc440b); }
  .icon__sport--tennis {
    background: radial-gradient(#82a9d7, #33649e); }
  .icon__sport--motori {
    background: radial-gradient(#555 60%, #111); }
  .icon__sport--baseball {
    background: radial-gradient(#ff3e5a 50%, #b5001a); }

ul {
  list-style: none;
  margin: 0 auto;
  padding-top: 2rem;
  text-transform: uppercase; }
  ul li {
    text-align: center;
    font-size: 1.4rem;
    padding: 1rem 0; }

.event__list--calcio, .event__list--football {
  color: #229870;
  width: 130%;
  margin-left: -2.5rem; }
  @supports (-webkit-text-fill-color: transparent) and (-webkit-background-clip: text) {
    .event__list--calcio, .event__list--football {
      background: linear-gradient(to top, #2ed099, #196e51);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; } }
  .event__list--calcio li:not(:last-child), .event__list--football li:not(:last-child) {
    border-bottom: 1px solid #229870; }
  @media (max-width: 72em) {
    .event__list--calcio, .event__list--football {
      width: 75%;
      margin: 0 auto; } }
  @media (max-width: 43.75em) {
    .event__list--calcio, .event__list--football {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 5rem; } }
  @media (max-width: 31.25em) {
    .event__list--calcio, .event__list--football {
      width: 95%; } }
  @media (max-width: 26.6em) {
    .event__list--calcio, .event__list--football {
      width: 60%; } }
  @media (max-width: 20em) {
    .event__list--calcio, .event__list--football {
      width: 70%; } }

.event__list--basket {
  background: linear-gradient(to top, #f68658, #cc440b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  margin-left: .5rem; }
  @media (max-width: 72em) {
    .event__list--basket {
      width: 75%;
      margin: 0 auto; } }
  @media (max-width: 43.75em) {
    .event__list--basket {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 5rem; } }
  @media (max-width: 26.6em) {
    .event__list--basket {
      width: 60%; } }
  .event__list--basket li:not(:last-child) {
    border-bottom: 1px solid #f35817; }

.event__list--football {
  width: 100%;
  margin-left: 0rem; }
  @media (max-width: 72em) {
    .event__list--football {
      width: 75%;
      margin: 0 auto; } }
  @media (max-width: 43.75em) {
    .event__list--football {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 5rem; } }
  @media (max-width: 26.6em) {
    .event__list--football {
      width: 60%; } }

.event__list--tennis {
  background: linear-gradient(to top, #82a9d7, #33649e);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%; }
  @media (max-width: 72em) {
    .event__list--tennis {
      width: 75%;
      margin: 0 auto; } }
  @media (max-width: 43.75em) {
    .event__list--tennis {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 5rem; } }
  @media (max-width: 26.6em) {
    .event__list--tennis {
      width: 60%; } }
  .event__list--tennis li:not(:last-child) {
    border-bottom: 1px solid #4F86C6; }

.event__list--motori {
  background: linear-gradient(to top, #555, #111);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%; }
  @media (max-width: 72em) {
    .event__list--motori {
      width: 75%;
      margin: 0 auto; } }
  @media (max-width: 43.75em) {
    .event__list--motori {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 5rem; } }
  @media (max-width: 26.6em) {
    .event__list--motori {
      width: 60%; } }
  .event__list--motori li:not(:last-child) {
    border-bottom: 1px solid #333; }

.event__list--baseball {
  background: linear-gradient(to top, #ff3e5a, #b5001a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%; }
  @media (max-width: 72em) {
    .event__list--baseball {
      width: 75%;
      margin: 0 auto; } }
  @media (max-width: 43.75em) {
    .event__list--baseball {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 5rem; } }
  @media (max-width: 26.6em) {
    .event__list--baseball {
      width: 60%; } }
  .event__list--baseball li:not(:last-child) {
    border-bottom: 1px solid #f90024; }

#container__league {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(2px)) or (backdrop-filter: blur(2px)) {
    #container__league {
      -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px); } }

.container__icon__sport {
  background: radial-gradient(#7ed56f, #28b485 75%);
  padding: 1rem;
  border-radius: 2rem;
  width: 70%;
  margin-left: 3rem;
  margin-top: 33.3rem;
  opacity: 0;
  visibility: hidden; }

.section-faq {
  background: linear-gradient(to right, #2980b9, #011458);
  padding: 10rem;
  padding-top: 15rem;
  clip-path: polygon(50% 7%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
  margin-top: -15rem;
  color: #fff; }
  @media (max-width: 72em) {
    .section-faq {
      clip-path: polygon(50% 3%, 100% 0, 100% 97%, 50% 100%, 0 97%, 0 0);
      text-align: center;
      padding-bottom: 5rem;
      padding-top: 10rem; } }
  @media (max-width: 43.75em) {
    .section-faq {
      clip-path: polygon(50% 3%, 100% 0, 100% 97%, 50% 100%, 0 97%, 0 0);
      padding: 5rem;
      padding-top: 10rem; } }
  @media (max-width: 31.25em) {
    .section-faq {
      clip-path: polygon(50% 1%, 100% 0, 100% 97%, 50% 100%, 0 97%, 0 0);
      padding: 5rem;
      padding-top: 8rem; } }
  @media (max-width: 20em) {
    .section-faq {
      clip-path: polygon(50% 2%, 100% 0, 100% 97%, 50% 100%, 0 97%, 0 0); } }
  .section-faq__heading {
    width: 60%;
    margin: 0 auto; }
    @media (max-width: 72em) {
      .section-faq__heading {
        width: 90%; } }
    @media (max-width: 52em) {
      .section-faq__heading {
        width: 100%; } }

.row__1 {
  margin-bottom: 1rem !important; }

@media (max-width: 72em) {
  .row__faq--first {
    margin-left: -4rem;
    width: 110%;
    margin-top: -4rem; } }

@media (max-width: 52em) {
  .row__faq--first {
    margin-left: 0rem;
    width: 100%; } }

@media (max-width: 72em) {
  .row__faq--second {
    margin-top: 2rem; } }

@media (max-width: 52em) {
  .row__faq--second {
    margin-top: -4rem; } }

.qanda {
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  padding: 3rem; }
  .qanda--of-3 {
    width: 85%; }
    @media (max-width: 72em) {
      .qanda--of-3 {
        width: 100%; } }
  @media (max-width: 52em) {
    .qanda {
      width: 75%;
      margin-bottom: 3rem; } }

.question {
  backface-visibility: hidden;
  display: block;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #011458; }

.answer {
  color: #021b79; }

.more__questions {
  width: 75%;
  margin: 0 auto;
  text-align: justify;
  font-size: 1.9rem;
  font-weight: 300;
  padding-bottom: 5rem; }
  @media (max-width: 52em) {
    .more__questions {
      width: 90%;
      margin-top: -6rem;
      font-size: 1.6rem; } }
  @media (max-width: 26.6em) {
    .more__questions {
      margin-top: -3rem; } }

.faq__bold {
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer; }
