/*
0 - 320px: phone small
320px - 375px: phone medium
375px - 425px: phone large
425px - 768px: tablet

600 - 900px:     tablet portrait
900 - 1200px:    tablet landscape
1200 - 1800     is where the normal styles apply
1800+ :           big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 26.6em) {
    html {
      font-size: 30%; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #777; }

.heading-primary {
  color: #fff;
  margin-bottom: 20px;
  backface-visibility: hidden;
  display: block;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px; }
  @media (max-width: 72em) {
    .heading-primary {
      margin-bottom: 10px;
      font-size: 33px;
      line-height: 43px; } }
  @media (max-width: 52em) {
    .heading-primary {
      font-size: 30px; } }
  @media (max-width: 43.75em) {
    .heading-primary {
      margin-bottom: 20px;
      backface-visibility: hidden;
      display: block;
      font-size: 40px;
      font-weight: 700;
      line-height: 50px; } }
  @media (max-width: 31.25em) {
    .heading-primary {
      margin-bottom: 15px;
      font-size: 35px;
      line-height: 40px; } }
  @media (max-width: 26.6em) {
    .heading-primary {
      font-size: 30px;
      line-height: 35px; } }
  @media (max-width: 20em) {
    .heading-primary {
      font-size: 26px;
      line-height: 30px; } }

.heading-secondary {
  color: #fff;
  margin-bottom: 30px;
  backface-visibility: hidden;
  display: block;
  font-size: 21px;
  line-height: 25px;
  font-weight: 300; }
  @media (max-width: 84em) {
    .heading-secondary {
      font-size: 20px; } }
  @media (max-width: 72em) {
    .heading-secondary {
      margin-bottom: 10px;
      font-size: 17px; } }

.heading-tertiary {
  backface-visibility: hidden;
  display: block;
  animation: MoveInRight 1s ease-out; }
  @media (max-width: 43.75em) {
    .heading-tertiary {
      text-align: center; } }
  .heading-tertiary--sub {
    color: #7ed56f;
    display: block;
    font-size: 45px;
    font-weight: 500; }
    @media (max-width: 52em) {
      .heading-tertiary--sub {
        font-size: 40px; } }
    @media (max-width: 20em) {
      .heading-tertiary--sub {
        font-size: 35px;
        line-height: 0; } }
  .heading-tertiary--main {
    color: #28b485;
    display: block;
    line-height: 95px;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase; }
    @media (max-width: 52em) {
      .heading-tertiary--main {
        font-size: 50px; } }
    @media (max-width: 43.75em) {
      .heading-tertiary--main {
        margin-bottom: 40px; } }
    @media (max-width: 20em) {
      .heading-tertiary--main {
        font-size: 40px;
        margin-bottom: 0; } }
  .heading-tertiary--line {
    display: block;
    width: 100px;
    height: 5px;
    background: #28b485; }
    @media (max-width: 43.75em) {
      .heading-tertiary--line {
        display: none;
        visibility: hidden; } }

.heading-fourth {
  backface-visibility: hidden;
  display: block;
  animation: MoveInRight 1s ease-out;
  color: #fff;
  display: block;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  color: #f2f5ff; }
  .heading-fourth--sub {
    display: inline-block;
    font-size: 35px;
    font-weight: 500;
    text-align: left; }
    @media (max-width: 43.75em) {
      .heading-fourth--sub {
        text-align: center; } }
  .heading-fourth--main {
    display: inline-block;
    line-height: 25px;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0; }
    @media (max-width: 43.75em) {
      .heading-fourth--main {
        display: block;
        text-align: center;
        line-height: 50px; } }
    @media (max-width: 31.25em) {
      .heading-fourth--main {
        line-height: 45px; } }
  .heading-fourth--qmark {
    display: inline-block;
    line-height: 25px;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0; }
    @media (max-width: 43.75em) {
      .heading-fourth--qmark {
        margin-left: -5px;
        font-size: 50px;
        font-weight: 600; } }

.heading-fifth {
  backface-visibility: hidden;
  display: block;
  color: #fff;
  font-size: 45px;
  font-weight: 500;
  text-align: center; }
  @media (max-width: 43.75em) {
    .heading-fifth {
      margin-bottom: -10px; } }
  @media (max-width: 26.6em) {
    .heading-fifth {
      margin-bottom: 50px; } }
  .heading-fifth--sub {
    color: #7ed56f;
    display: inline-block;
    font-size: 35px;
    font-weight: 500;
    text-align: left; }
    @media (max-width: 43.75em) {
      .heading-fifth--sub {
        display: block;
        text-align: center; } }
  .heading-fifth--main {
    color: #28b485;
    display: inline-block;
    line-height: 25px;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0; }
    @media (max-width: 43.75em) {
      .heading-fifth--main {
        display: block;
        text-align: center;
        margin-bottom: 10px; } }

.heading-sixth {
  margin-bottom: 60px;
  backface-visibility: hidden;
  display: block;
  animation: MoveInRight 1s ease-out;
  color: #f2f5ff; }
  @media (max-width: 43.75em) {
    .heading-sixth {
      margin: 60px; } }
  .heading-sixth--sub {
    display: block;
    font-size: 45px;
    font-weight: 600;
    line-height: 55px;
    text-transform: uppercase; }
    @media (max-width: 43.75em) {
      .heading-sixth--sub {
        font-size: 39px;
        text-align: center; } }
  .heading-sixth--main {
    font-size: 60px;
    font-weight: 700;
    color: #7ed56f; }
    @media (max-width: 52em) {
      .heading-sixth--main {
        font-size: 50px; } }
    @media (max-width: 43.75em) {
      .heading-sixth--main {
        font-size: 47px; } }
    @media (max-width: 20em) {
      .heading-sixth--main {
        font-size: 42px;
        letter-spacing: -1px; } }
  .heading-sixth--line {
    display: block;
    width: 100px;
    height: 5px;
    background: #28b485; }
    @media (max-width: 43.75em) {
      .heading-sixth--line {
        display: none; } }

.lg-view {
  display: inline-block; }

.sm-view {
  display: none; }

@media screen and (max-width: 1016px) {
  .lg-view {
    display: none; }
  .sm-view {
    display: inline-block; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 3rem !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.row {
  max-width: 138rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
      @media (max-width: 43.75em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0; } }
  .row .col-1-of-1 {
    width: 100%; }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2); }
    @media (max-width: 52em) {
      .row .col-1-of-2--faq {
        width: 100%; } }
    @media (max-width: 43.75em) {
      .row .col-1-of-2 {
        width: 100%; } }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 4rem) / 3); }
    @media (max-width: 52em) {
      .row .col-1-of-3 {
        width: 100%; } }
  .row .col-2-of-3 {
    width: calc( (2 * (100% - 2 * 4rem) / 3) + 4rem); }
    @media (max-width: 43.75em) {
      .row .col-2-of-3 {
        width: 100%; } }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 4rem) / 4); }
    @media (max-width: 43.75em) {
      .row .col-1-of-4 {
        width: 100%; } }
  .row .col-2-of-4 {
    width: calc( (2 * (100% - 3 * 4rem) / 4) + (4rem)); }
    @media (max-width: 43.75em) {
      .row .col-2-of-4 {
        width: 100%; } }
  .row .col-3-of-4 {
    width: calc( (3 * (100% - 3 * 4rem) / 4) + 2 * (4rem)); }
    @media (max-width: 43.75em) {
      .row .col-3-of-4 {
        width: 100%; } }
  .row .col-1-of-6 {
    width: calc((100% - 5 * 4rem) / 6); }
    @media (max-width: 72em) {
      .row .col-1-of-6 {
        width: calc((100% - 2 * 2rem) / 3); } }
    @media (max-width: 43.75em) {
      .row .col-1-of-6 {
        width: calc((100% - 4rem) / 2); } }
  .row .col-5-of-12 {
    width: calc( (5 * (100% - 11 * 4rem) / 12) + 4 * (4rem)); }
    @media (max-width: 72em) {
      .row .col-5-of-12 {
        width: 47%; } }
    @media (max-width: 43.75em) {
      .row .col-5-of-12 {
        width: 100%; } }
  .row .col-7-of-12 {
    width: calc( (7 * (100% - 11 * 4rem) / 12) + 6 * (4rem)); }
    @media (max-width: 72em) {
      .row .col-7-of-12 {
        width: 47%; } }
    @media (max-width: 43.75em) {
      .row .col-7-of-12 {
        width: 100%; } }

.header {
  background-image: linear-gradient(-115deg, rgba(41, 128, 185, 0.95) 0%, rgba(1, 20, 88, 0.95) 80%);
  height: 738px;
  color: white;
  padding-top: 110px;
  clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
  background-position: top;
  background-size: cover; }
  @media (max-width: 72em) {
    .header {
      height: 630px; } }
  @media (max-width: 52em) {
    .header {
      height: 600px; } }
  @media (max-width: 43.75em) {
    .header {
      height: 1050px;
      clip-path: polygon(50% 100%, 100% 97%, 100% 0, 0 0, 0 97%); } }
  @media (max-width: 31.25em) {
    .header {
      height: 900px; } }
  @media (max-width: 26.6em) {
    .header {
      height: 850px; } }
  @media (max-width: 20em) {
    .header {
      clip-path: polygon(50% 100%, 100% 95%, 100% 0, 0 0, 0 95%); } }
  .header__logo-box {
    position: absolute;
    top: 40px;
    left: 60px;
    width: 25%; }
    @media (max-width: 43.75em) {
      .header__logo-box {
        transform: translateX(-35%);
        left: 50%;
        top: 70px; } }
    @media (max-width: 31.25em) {
      .header__logo-box {
        left: 50%;
        top: 60px;
        transform: translateX(-35%); } }
    @media (max-width: 26.6em) {
      .header__logo-box {
        transform: translateX(-30%); } }
    @media (max-width: 20em) {
      .header__logo-box {
        transform: translateX(-40%); } }
  .header__logo {
    width: 40%; }
    @media (max-width: 72em) {
      .header__logo {
        width: 50%; } }
    @media (max-width: 43.75em) {
      .header__logo {
        width: 70%; } }
    @media (max-width: 26.6em) {
      .header__logo {
        width: 60%; } }
    @media (max-width: 20em) {
      .header__logo {
        width: 80%; } }
  .header__container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding: 0 30px; }
    @media (max-width: 52em) {
      .header__container {
        grid-template-columns: 1fr 1fr; } }
    @media (max-width: 43.75em) {
      .header__container {
        height: auto;
        grid-template-columns: 1fr;
        margin-top: 80px;
        padding: 0 90px;
        text-align: center; } }
    @media (max-width: 26.6em) {
      .header__container {
        margin-top: 30px;
        padding: 0 60px; } }
    @media (max-width: 23.5em) {
      .header__container {
        padding: 0 30px; } }
    @media (max-width: 20em) {
      .header__container {
        padding: 0 20px; } }
  .header__left {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    padding-left: 30px; }
    @media (max-width: 43.75em) {
      .header__left {
        padding-left: 0; } }
  .header__text {
    display: inline-block;
    text-align: center; }
  .header__container__image {
    height: auto;
    position: relative; }
  .header__image {
    width: 90%;
    padding-top: 50px;
    display: block;
    margin: 0 auto; }
    @media (max-width: 72em) {
      .header__image {
        width: 100%; } }
    @media (max-width: 52em) {
      .header__image {
        padding-top: 30px;
        width: 50%; } }
    @media (max-width: 43.75em) {
      .header__image {
        width: 45%; } }
    @media (max-width: 31.25em) {
      .header__image {
        width: 50%;
        padding-top: 0; } }
    @media (max-width: 26.6em) {
      .header__image {
        width: 55%; } }
    .header__image--desktop {
      width: 100%;
      display: block; }
      @media (max-width: 52em) {
        .header__image--desktop {
          display: none; } }
    .header__image--phone {
      display: none; }
      @media (max-width: 52em) {
        .header__image--phone {
          display: block;
          width: 100%; } }

.signup__container,
.login__container {
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
  transition: all 0.2s; }
  .signup__container:hover,
  .login__container:hover {
    transform: translateY(2px); }
  .signup__container:active, .signup__container:focus,
  .login__container:active,
  .login__container:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

@media (max-width: 43.75em) {
  .login__container {
    margin-right: 0; } }

.login,
.signup {
  text-decoration: none;
  border-radius: 10px;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 20px; }
  @media (max-width: 72em) {
    .login,
    .signup {
      padding: 10px 25px;
      font-size: 16px; } }
  @media (max-width: 31.25em) {
    .login,
    .signup {
      padding: 10px 20px;
      font-size: 13px; } }

.login {
  color: #2ed099;
  background: #fff;
  border: 1px solid #196e51;
  cursor: pointer; }
  .login:hover {
    color: #229870;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.signup {
  color: #fff;
  background: #2ed099;
  border: 1px solid #196e51;
  cursor: pointer; }
  .signup:hover {
    background: #229870;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8); }

@media (max-width: 48em) {
  .navigation {
    display: none; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #196e51;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 4rem;
  right: 5rem;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 72em) {
    .navigation__button {
      height: 6rem;
      width: 6rem; } }
  @media (max-width: 52em) {
    .navigation__button {
      top: 4.7rem;
      right: 4.5rem; } }
  @media (max-width: 48em) {
    .navigation__button {
      top: 4.2rem;
      right: 4rem;
      position: absolute; } }

.navigation__container {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%; }
  @media (max-width: 48em) {
    .navigation__container {
      position: absolute; } }

.navigation__background {
  height: 9rem;
  width: 9rem;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  position: absolute;
  border-radius: 1rem;
  top: 2.8rem;
  right: 4rem;
  background-image: radial-gradient(#28b485, #7ed56f);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }
  @media (max-width: 72em) {
    .navigation__background {
      height: 8.1rem;
      width: 8.1rem; } }
  @media (max-width: 52em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }
  @media (max-width: 48em) {
    .navigation__background {
      top: 3rem;
      right: 3rem;
      position: absolute; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__blurspace {
  width: 50%;
  height: 100vh; }

.navigation__list {
  position: absolute;
  top: 55%;
  left: 80%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 50%; }
  @media (max-width: 72em) {
    .navigation__list {
      left: 72%; } }
  @media (max-width: 48em) {
    .navigation__list {
      left: 34%;
      top: 48%; } }

.navigation__header {
  position: absolute;
  top: 25%;
  left: 75%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 3.5rem; }

.navigation__item {
  margin: 1rem; }
  @media (max-width: 72em) {
    .navigation__item {
      margin-top: 0;
      margin-bottom: 0; } }

.navigation__link {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(105deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s;
  cursor: pointer; }
  @media (max-width: 72em) {
    .navigation__link {
      padding: 0 2rem; } }
  .navigation__link span {
    margin-right: 1.5rem;
    display: inline-block; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #196e51;
    transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__container {
  height: 100vh;
  transition: all 0.5s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .navigation__checkbox:checked ~ .navigation__container {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.8); } }

.navigation__checkbox:checked ~ .navigation__container > .navigation__background {
  transform: scale(19) translateX(5px);
  overflow: hidden; }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.8rem; }
  @media (max-width: 72em) {
    .navigation__icon {
      margin-top: 3.3rem; } }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #fff;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.footer {
  padding: 25rem 0;
  background-color: #f2f5ff;
  margin-top: -10rem; }

.athlete__slideshow-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 340px;
  width: 340px; }
  @media (max-width: 26.6em) {
    .athlete__slideshow-container {
      height: 240px;
      width: 240px; } }

.mySlides {
  position: absolute;
  transition: all 1s; }
  @media (max-width: 52em) {
    .mySlides {
      transform: scale(0.8); } }
  @media (max-width: 43.75em) {
    .mySlides {
      transform: scale(0.9); } }
  @media (max-width: 26.6em) {
    .mySlides {
      transform: scale(0.75); } }
  @media (max-width: 20em) {
    .mySlides {
      transform: scale(0.65); } }

.athlete {
  filter: drop-shadow(0 1.5rem 5rem rgba(0, 0, 0, 0.25));
  opacity: 0;
  visibility: hidden;
  transition: all 1s; }

.popup__1 {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup__1 {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.8); } }
  .popup__1__blankspace {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw; }
  .popup__1__registration {
    width: 90%;
    max-width: 432px;
    min-width: 201px;
    background-image: linear-gradient(#28b485, #7ed56f);
    position: fixed;
    z-index: 3000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    border-radius: 20px; }
    @media (max-width: 72em) {
      .popup__1__registration {
        min-width: 432px; } }
    @media (max-width: 48em) {
      .popup__1__registration {
        min-width: 423px; } }
    @media (max-width: 26.6em) {
      .popup__1__registration {
        min-width: 201px; } }

.registration__icon {
  position: absolute;
  top: 50px;
  right: 40px;
  cursor: pointer; }
  .registration__icon, .registration__icon::before, .registration__icon::after {
    width: 40px;
    height: 2px;
    background-color: #fff;
    display: inline-block; }
    @media (max-width: 26.6em) {
      .registration__icon, .registration__icon::before, .registration__icon::after {
        width: 25px;
        top: 30px;
        right: 20px; } }
  .registration__icon::before, .registration__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .registration__icon {
    background-color: transparent; }
  .registration__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .registration__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.registration__form__header {
  color: #fff;
  margin-bottom: 15px;
  text-align: center; }
  .registration__form__header--main {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 5px; }
    @media (max-width: 26.6em) {
      .registration__form__header--main {
        font-size: 25px; } }
  .registration__form__header--sub {
    font-size: 16px;
    font-weight: 300;
    line-height: 40px; }
    @media (max-width: 26.6em) {
      .registration__form__header--sub {
        font-size: 14px;
        line-height: 0; } }
    .registration__form__header--sub__login--bold {
      color: #021b79;
      font-weight: 500;
      cursor: pointer;
      margin-left: 6px; }

.registration__form__or__line {
  display: inline-block;
  width: 32%;
  height: 5px;
  margin-bottom: 10px; }
  .registration__form__or__line--left, .registration__form__or__line--right {
    background-color: white;
    line-height: 1px; }
  .registration__form__or__line--text {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    height: auto; }
  .registration__form__or__line__container {
    width: 100%; }

.registration__form__inline {
  display: inline-block;
  width: 49%; }
  .registration__form__inline > input {
    margin-right: 20px; }

.registration__form__input {
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all 0.3s; }
  @media (max-width: 26.6em) {
    .registration__form__input {
      font-size: 13px;
      padding: 7px 10px; } }
  .registration__form__input:focus {
    outline: none;
    box-shadow: 0 10px 20px rgba(3, 38, 171, 0.1);
    border-bottom: 3px solid #0326ab; }
  .registration__form__input:focus:invalid {
    border-bottom: 3px solid #b5001a; }
  .registration__form__input::-webkit-input-placeholder {
    color: #555; }

.registration__form__label {
  font-size: 14px;
  font-weight: 700;
  margin-left: 20px;
  display: block;
  transition: all 0.3s;
  color: #021b79; }
  @media (max-width: 26.6em) {
    .registration__form__label {
      font-size: 11px; } }

.registration__form__input:placeholder-shown + .registration__form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-40px); }

.registration__form__radio-input {
  display: none; }

.registration__form__radio-label {
  font-size: 15px;
  cursor: pointer;
  position: relative;
  padding-left: 45px;
  color: #fff; }
  @media (max-width: 26.6em) {
    .registration__form__radio-label {
      font-size: 11px;
      padding-left: 35px; } }

.registration__form__radio-button {
  height: 30px;
  width: 30px;
  border: 4px solid #021b79;
  border-radius: 10px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 4px; }
  @media (max-width: 26.6em) {
    .registration__form__radio-button {
      top: -4px;
      height: 25px;
      width: 25px; } }
  .registration__form__radio-button::after {
    content: "";
    display: block;
    height: 14px;
    width: 14px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #021b79;
    opacity: 0;
    transition: opacity 0.2s; }
  .registration__form__radio-button--bold {
    color: #021b79;
    font-weight: 700;
    cursor: pointer;
    margin-left: 1px; }

.registration__form__radio-input:checked ~ .registration__form__radio-label .registration__form__radio-button::after {
  opacity: 1; }

.registration__form__submit {
  color: white;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  background: #021b79;
  border: none;
  border-radius: 10px;
  padding: 10px 12px;
  margin-top: 30px; }
  @media (max-width: 26.6em) {
    .registration__form__submit {
      margin-top: 10px; } }

.registration__fieldset {
  border: none;
  padding: 30px; }
  @media (max-width: 26.6em) {
    .registration__fieldset {
      padding: 30px 15px 15px 15px; } }

.registration__social {
  margin-bottom: 15px;
  width: 46%;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 17px;
  font-weight: 500;
  align-items: center;
  justify-content: center; }
  @media (max-width: 26.6em) {
    .registration__social {
      font-size: 14px; } }
  .registration__social__text {
    line-height: 10px;
    display: inline-block;
    margin-bottom: 3px; }
  .registration__social__icon {
    align-items: center;
    justify-content: center; }
  .registration__social__icon > img {
    height: 18px;
    margin: 0 15px -3px 0; }
    @media (max-width: 26.6em) {
      .registration__social__icon > img {
        height: 15px; } }
  .registration__social--fb {
    margin-right: 17px;
    background-color: #3b5998;
    color: #fff; }
  .registration__social--google {
    color: #353d56; }
  .registration__social__header {
    color: #fff;
    font-weight: 300; }

.popup__2 {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2999;
  opacity: 1;
  visibility: hidden;
  transition: all 0.3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup__2 {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.8); } }
  .popup__2__blankspace {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw; }
  .popup__2__login {
    width: 90%;
    max-width: 432px;
    min-width: 201px;
    background-image: linear-gradient(#28b485, #7ed56f);
    position: fixed;
    z-index: 3000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    border-radius: 20px; }
    @media (max-width: 72em) {
      .popup__2__login {
        min-width: 432px; } }
    @media (max-width: 48em) {
      .popup__2__login {
        min-width: 423px; } }
    @media (max-width: 26.6em) {
      .popup__2__login {
        min-width: 201px; } }

.login__icon {
  position: absolute;
  top: 50px;
  right: 40px;
  cursor: pointer; }
  .login__icon, .login__icon::before, .login__icon::after {
    width: 40px;
    height: 2px;
    background-color: #fff;
    display: inline-block; }
    @media (max-width: 26.6em) {
      .login__icon, .login__icon::before, .login__icon::after {
        width: 25px;
        top: 30px;
        right: 20px; } }
  .login__icon::before, .login__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .login__icon {
    background-color: transparent; }
  .login__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .login__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.login__form__header {
  color: #fff;
  margin-bottom: 15px;
  text-align: center; }
  .login__form__header--main {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: -5px; }
    @media (max-width: 26.6em) {
      .login__form__header--main {
        font-size: 25px; } }
  .login__form__header--sub {
    font-size: 16px;
    font-weight: 300; }
    @media (max-width: 26.6em) {
      .login__form__header--sub {
        font-size: 14px;
        line-height: 20px; } }
    .login__form__header--sub__login--bold {
      color: #021b79;
      font-weight: 500;
      cursor: pointer;
      margin-left: 6px; }

.login__form__or__line {
  display: inline-block;
  width: 32%;
  height: 5px;
  margin-bottom: 10px; }
  .login__form__or__line--left, .login__form__or__line--right {
    background-color: white;
    line-height: 1px; }
  .login__form__or__line--text {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    height: auto; }
  .login__form__or__line__container {
    width: 100%; }

.login__form__group--first {
  margin-bottom: 15px; }

.login__form__inline {
  display: inline-block;
  width: 49%; }
  .login__form__inline > input {
    margin-right: 20px; }

.login__form__input {
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all 0.3s; }
  @media (max-width: 26.6em) {
    .login__form__input {
      font-size: 13px;
      padding: 7px 10px; } }
  .login__form__input:focus {
    outline: none;
    box-shadow: 0 10px 20px rgba(3, 38, 171, 0.1);
    border-bottom: 3px solid #0326ab; }
  .login__form__input:focus:invalid {
    border-bottom: 3px solid #b5001a; }
  .login__form__input::-webkit-input-placeholder {
    color: #555; }

.login__form__label {
  font-size: 14px;
  font-weight: 700;
  margin-left: 20px;
  display: block;
  transition: all 0.3s;
  color: #021b79; }

.login__form__input:placeholder-shown + .login__form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-40px); }

.login__form__pwd__forgot {
  font-size: 16px;
  color: #021b79;
  font-weight: 500;
  cursor: pointer;
  margin-left: 6px;
  text-align: right; }

.login__form__submit {
  color: white;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  background: #021b79;
  border: none;
  border-radius: 10px;
  padding: 10px 12px;
  margin-top: 30px; }
  @media (max-width: 26.6em) {
    .login__form__submit {
      margin-top: 10px; } }

.login__fieldset {
  border: none;
  padding: 30px; }
  @media (max-width: 26.6em) {
    .login__fieldset {
      padding: 30px 15px 15px 15px; } }

.login__social {
  margin-bottom: 15px;
  width: 46%;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 17px;
  font-weight: 500;
  align-items: center;
  justify-content: center; }
  @media (max-width: 26.6em) {
    .login__social {
      font-size: 14px; } }
  .login__social__text {
    line-height: 10px;
    display: inline-block;
    margin-bottom: 3px; }
  .login__social__icon {
    align-items: center;
    justify-content: center; }
  .login__social__icon > img {
    height: 18px;
    margin: 0 15px -3px 0; }
    @media (max-width: 26.6em) {
      .login__social__icon > img {
        height: 15px; } }
  .login__social--fb {
    margin-right: 17px;
    background-color: #3b5998;
    color: #fff; }
  .login__social--google {
    color: #353d56; }
  .login__social__header {
    color: #fff;
    font-weight: 300; }

.section-about {
  background-color: #f2f5ff;
  height: 1000px;
  padding-top: 200px;
  margin-top: -130px; }
  @media (max-width: 52em) {
    .section-about {
      padding-top: 150px;
      margin-top: -100px; } }
  @media (max-width: 43.75em) {
    .section-about {
      padding-top: 200px;
      height: 1500px; } }
  @media (max-width: 31.25em) {
    .section-about {
      margin-top: -130px; } }
  @media (max-width: 26.6em) {
    .section-about {
      height: 1370px; } }
  @media (max-width: 20em) {
    .section-about {
      height: 1250px; } }

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 30px; }
  @media (max-width: 52em) {
    .about-container {
      grid-template-columns: 1fr 1.5fr; } }
  @media (max-width: 43.75em) {
    .about-container {
      grid-template-columns: 1fr; } }
  @media (max-width: 20em) {
    .about-container {
      padding: 0 20px; } }

.about__left {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  @media (max-width: 72em) {
    .about__left {
      padding-top: 10px;
      padding-left: 60px; } }
  @media (max-width: 52em) {
    .about__left {
      padding: 0; } }
  @media (max-width: 43.75em) {
    .about__left {
      justify-content: center; } }

@media (max-width: 52em) {
  .about__right {
    padding: 30px 10px; } }

@media (max-width: 43.75em) {
  .about__right {
    width: 70%;
    margin: 0 auto; } }

@media (max-width: 31.25em) {
  .about__right {
    width: 100%; } }

@media (max-width: 26.6em) {
  .about__right {
    width: 100%;
    margin-top: 10px; } }

@media (max-width: 20em) {
  .about__right {
    width: 100%; } }

.about__right__container {
  height: 550px;
  background: linear-gradient(#7ed56f, #28b485);
  padding: 50px;
  color: white;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center; }
  @media (max-width: 52em) {
    .about__right__container {
      width: 100%; } }
  @media (max-width: 23.5em) {
    .about__right__container {
      padding: 30px; } }
  @media (max-width: 20em) {
    .about__right__container {
      padding: 15px; } }

.about__right__text--main {
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  margin-bottom: 18px;
  display: block; }
  @media (max-width: 20em) {
    .about__right__text--main {
      font-size: 27px;
      line-height: 30px; } }

.about__right__text--sub {
  font-size: 22px;
  font-weight: 300;
  display: block; }
  .about__right__text--sub:not(:last-child) {
    margin-bottom: 25px; }
  @media (max-width: 20em) {
    .about__right__text--sub {
      font-size: 20px; } }

.about__right__text--line {
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin-bottom: 25px; }
  @media (max-width: 72em) {
    .about__right__text--line {
      width: 10rem; } }

@media (max-width: 52em) {
  .about__right__text {
    line-height: initial; } }

.section-how {
  background: linear-gradient(to right, #2980b9, #011458);
  padding: 150px 100px;
  clip-path: polygon(50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
  margin-top: -200px;
  color: #fff; }
  @media (max-width: 72em) {
    .section-how {
      padding: 150px 100px; } }
  @media (max-width: 52em) {
    .section-how {
      padding: 120px 100px;
      clip-path: polygon(50% 5%, 100% 0, 100% 96%, 50% 100%, 0 96%, 0 0); } }
  @media (max-width: 43.75em) {
    .section-how {
      clip-path: polygon(50% 2%, 100% 0, 100% 97%, 50% 100%, 0 97%, 0 0);
      margin-top: -20%;
      height: 1650px;
      padding: 150px 120px; } }
  @media (max-width: 31.25em) {
    .section-how {
      padding: 150px 60px; } }
  @media (max-width: 26.6em) {
    .section-how {
      padding: 150px 30px; } }
  @media (max-width: 23.5em) {
    .section-how {
      padding: 150px 30px; } }
  @media (max-width: 20em) {
    .section-how {
      height: 1450px;
      padding: 110px 30px;
      clip-path: polygon(50% 2%, 100% 0, 100% 98%, 50% 100%, 0 98%, 0 0); } }
  .section-how__container {
    height: 400px;
    width: 100%;
    margin-top: 50px;
    filter: drop-shadow(0 15px 50px black);
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
    @media (max-width: 43.75em) {
      .section-how__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1200px;
        margin-top: 60px; } }
  .section-how__chevron {
    width: 100%;
    display: inline-block;
    transition: all 0.2s; }
    @media (max-width: 31.25em) {
      .section-how__chevron {
        display: block;
        position: relative;
        margin-bottom: -40px; } }
    .section-how__chevron--1 {
      background-color: rgba(242, 245, 255, 0.9);
      clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
      border-radius: 20px 0 0 20px; }
      @media (max-width: 43.75em) {
        .section-how__chevron--1 {
          display: block;
          position: relative;
          height: 650px;
          margin: 0 auto;
          clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0% 80%);
          border-radius: 20px; } }
      @media (max-width: 26.6em) {
        .section-how__chevron--1 {
          height: 300px;
          clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0% 85%); } }
      @media (max-width: 20em) {
        .section-how__chevron--1 {
          height: 250px; } }
    .section-how__chevron--2 {
      background-color: rgba(242, 245, 255, 0.93);
      clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%); }
      @media (max-width: 43.75em) {
        .section-how__chevron--2 {
          clip-path: polygon(50% 15%, 100% 0, 100% 75%, 50% 86%, 0% 75%, 0 0);
          margin: 0 auto;
          position: relative;
          height: 950px;
          margin-top: -40px; } }
      @media (max-width: 26.6em) {
        .section-how__chevron--2 {
          height: 500px;
          margin-top: -30px;
          clip-path: polygon(50% 9%, 100% 0, 100% 75%, 50% 86%, 0% 75%, 0 0); } }
      @media (max-width: 20em) {
        .section-how__chevron--2 {
          height: 350px;
          clip-path: polygon(50% 11%, 100% 0, 100% 75%, 50% 86%, 0% 75%, 0 0); } }
    .section-how__chevron--3 {
      background-color: rgba(242, 245, 255, 0.96);
      clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%); }
      @media (max-width: 43.75em) {
        .section-how__chevron--3 {
          clip-path: polygon(50% 11%, 100% 0, 100% 75%, 50% 88%, 0% 75%, 0 0);
          margin: 0 auto;
          position: relative;
          height: 950px;
          margin-top: -80px; } }
      @media (max-width: 26.6em) {
        .section-how__chevron--3 {
          height: 500px;
          margin-top: -100px; } }
      @media (max-width: 20em) {
        .section-how__chevron--3 {
          margin-top: -80px;
          height: 350px;
          clip-path: polygon(50% 11%, 100% 0, 100% 78%, 50% 88%, 0% 78%, 0 0); } }
    .section-how__chevron--4 {
      background-color: #f2f5ff;
      clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 10% 50%, 0% 0%);
      border-radius: 0 20px 20px 0; }
      @media (max-width: 43.75em) {
        .section-how__chevron--4 {
          clip-path: polygon(50% 17%, 100% 0, 100% 75%, 100% 100%, 0% 100%, 0 0);
          border-radius: 0 0 30px 30px;
          margin: 0 auto;
          position: relative;
          height: 650px;
          margin-top: -80px; } }
      @media (max-width: 26.6em) {
        .section-how__chevron--4 {
          height: 400px;
          margin-top: -100px; } }
      @media (max-width: 20em) {
        .section-how__chevron--4 {
          height: 250px;
          margin-top: -70px;
          clip-path: polygon(50% 15%, 100% 0, 100% 75%, 100% 100%, 0% 100%, 0 0); } }

.chevron__header {
  padding: 10px 30px;
  font-size: 40px;
  font-weight: 900;
  color: #dcc515;
  margin-bottom: -20px; }
  .chevron__header--sub {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #dcc515;
    margin-bottom: 15px; }
    @media (max-width: 72em) {
      .chevron__header--sub {
        font-size: 25px;
        margin-bottom: 10px; } }
    @media (max-width: 52em) {
      .chevron__header--sub {
        font-size: 20px; } }
    @media (max-width: 43.75em) {
      .chevron__header--sub {
        position: absolute;
        top: 15%;
        left: 54%;
        transform: translateX(-50%); } }
    @media (max-width: 26.6em) {
      .chevron__header--sub {
        left: 50%; } }
    @media (max-width: 20em) {
      .chevron__header--sub {
        left: 56%;
        top: 15%; } }
    .chevron__header--sub--2, .chevron__header--sub--3 {
      padding-left: 10px; }
      @media (max-width: 43.75em) {
        .chevron__header--sub--2, .chevron__header--sub--3 {
          position: absolute;
          top: 22%;
          left: 53%; } }
      @media (max-width: 26.6em) {
        .chevron__header--sub--2, .chevron__header--sub--3 {
          left: 50%; } }
    @media (max-width: 43.75em) {
      .chevron__header--sub--4 {
        position: absolute;
        top: 25%;
        left: 47%; } }
    @media (max-width: 26.6em) {
      .chevron__header--sub--4 {
        left: 45%; } }

.chevron__text {
  width: 65%;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  color: #021b79;
  text-align: center; }
  @media (max-width: 72em) {
    .chevron__text {
      font-size: 16px; } }
  @media (max-width: 52em) {
    .chevron__text {
      font-size: 15px;
      line-height: 22px; } }
  @media (max-width: 48em) {
    .chevron__text {
      font-size: 14px;
      line-height: 21px; } }
  @media (max-width: 43.75em) {
    .chevron__text {
      position: absolute;
      top: 34%;
      right: 10%;
      text-align: left;
      width: 50%;
      font-size: 15px; } }
  @media (max-width: 26.6em) {
    .chevron__text {
      width: 45%;
      right: 15%; } }
  @media (max-width: 23.5em) {
    .chevron__text {
      top: 32%;
      right: 15%; } }
  @media (max-width: 20em) {
    .chevron__text {
      position: absolute;
      top: 38%;
      right: 5%;
      text-align: left;
      width: 65%; } }
  .chevron__text--bold {
    font-size: 19px;
    font-weight: 700;
    color: #011458; }
    @media (max-width: 72em) {
      .chevron__text--bold {
        font-size: 17px; } }
  .chevron__text--2, .chevron__text--3 {
    padding-left: 10px; }
    @media (max-width: 52em) {
      .chevron__text--2, .chevron__text--3 {
        line-height: 22px; } }
    @media (max-width: 43.75em) {
      .chevron__text--2, .chevron__text--3 {
        top: 35%; } }
  @media (max-width: 43.75em) {
    .chevron__text--4 {
      top: 40%; } }
  @media (max-width: 26.6em) {
    .chevron__text--4 {
      top: 40%; } }
  @media (max-width: 20em) {
    .chevron__text--4 {
      top: 45%; } }

.chevron__icon {
  width: 25%;
  display: block;
  margin: 0 auto;
  margin-top: 40px; }
  @media (max-width: 72em) {
    .chevron__icon {
      width: 23%; } }
  @media (max-width: 43.75em) {
    .chevron__icon {
      width: 20%;
      margin: 0;
      position: absolute;
      top: 45%;
      left: 7%;
      transform: translateY(-50%); } }
  @media (max-width: 26.6em) {
    .chevron__icon {
      width: 15%;
      left: 12%; } }
  @media (max-width: 26.6em) {
    .chevron__icon--4 {
      top: 55%; } }
  @media (max-width: 23.5em) {
    .chevron__icon--4 {
      top: 60%; } }
  @media (max-width: 20em) {
    .chevron__icon--4 {
      top: 55%; } }

.section-sports {
  background-color: #f2f5ff;
  padding: 200px 0;
  margin-top: -150px; }
  @media (max-width: 72em) {
    .section-sports {
      height: 1300px; } }
  @media (max-width: 43.75em) {
    .section-sports {
      padding-bottom: 150px;
      margin-top: -100px;
      height: 1600px; } }
  @media (max-width: 31.25em) {
    .section-sports {
      height: 1550px; } }
  @media (max-width: 20em) {
    .section-sports {
      margin-top: -150px; } }

.row__icon__sport,
.row__container__icon__sport {
  max-width: 1200px;
  position: relative; }
  @media (max-width: 72em) {
    .row__icon__sport,
    .row__container__icon__sport {
      padding: 0 40px; } }

@media (max-width: 72em) {
  .col__sport {
    position: absolute; } }

@media (max-width: 72em) {
  .col__sport--calcio {
    top: 0;
    left: 0; } }

@media (max-width: 43.75em) {
  .col__sport--calcio {
    top: 0;
    left: 20px; } }

@media (max-width: 72em) {
  .col__sport--basket {
    top: 550px;
    left: 0; } }

@media (max-width: 52em) {
  .col__sport--basket {
    top: 570px; } }

@media (max-width: 43.75em) {
  .col__sport--basket {
    top: 510px;
    left: 20px; } }

@media (max-width: 26.6em) {
  .col__sport--basket {
    top: 570px;
    left: 20px; } }

@media (max-width: 20em) {
  .col__sport--basket {
    top: 700px; } }

@media (max-width: 72em) {
  .col__sport--football {
    top: 0;
    left: 66%; } }

@media (max-width: 43.75em) {
  .col__sport--football {
    top: 510px;
    left: 50%; } }

@media (max-width: 26.6em) {
  .col__sport--football {
    top: 570px; } }

@media (max-width: 20em) {
  .col__sport--football {
    top: 370px; } }

@media (max-width: 72em) {
  .col__sport--tennis {
    top: 0;
    left: 33%; } }

@media (max-width: 43.75em) {
  .col__sport--tennis {
    top: 0;
    left: 50%; } }

@media (max-width: 72em) {
  .col__sport--motori {
    top: 550px;
    left: 33%; } }

@media (max-width: 52em) {
  .col__sport--motori {
    top: 570px; } }

@media (max-width: 43.75em) {
  .col__sport--motori {
    top: 780px;
    left: 20px; } }

@media (max-width: 26.6em) {
  .col__sport--motori {
    top: 830px; } }

@media (max-width: 20em) {
  .col__sport--motori {
    top: 880px;
    left: 160px; } }

@media (max-width: 72em) {
  .col__sport--baseball {
    top: 550px;
    left: 66%; } }

@media (max-width: 52em) {
  .col__sport--baseball {
    top: 570px; } }

@media (max-width: 43.75em) {
  .col__sport--baseball {
    top: 780px;
    left: 50%; } }

@media (max-width: 26.6em) {
  .col__sport--baseball {
    top: 830px; } }

@media (max-width: 20em) {
  .col__sport--baseball {
    top: 630px; } }

.icon__sport {
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: -20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); }
  @media (max-width: 72em) {
    .icon__sport {
      width: 30%; } }
  @media (max-width: 43.75em) {
    .icon__sport {
      width: 25%; } }
  .icon__sport--calcio, .icon__sport--football {
    background: radial-gradient(#2ed099, #196e51); }
  .icon__sport--basket {
    background: radial-gradient(#f68658, #cc440b); }
  .icon__sport--tennis {
    background: radial-gradient(#82a9d7, #33649e); }
  .icon__sport--motori {
    background: radial-gradient(#555 60%, #111); }
  .icon__sport--baseball {
    background: radial-gradient(#ff3e5a 50%, #b5001a); }

ul {
  list-style: none;
  margin: 0 auto;
  padding-top: 20px;
  text-transform: uppercase; }
  ul li {
    text-align: center;
    font-size: 14px;
    padding: 10px 0; }

.event__list--calcio, .event__list--football {
  color: #229870;
  width: 130%;
  margin-left: -25px; }
  @supports (-webkit-text-fill-color: transparent) and (-webkit-background-clip: text) {
    .event__list--calcio, .event__list--football {
      background: linear-gradient(to top, #2ed099, #196e51);
      -webkit-background-clip: text;
      -webkit-text-fill-color: #229870; } }
  .event__list--calcio li:not(:last-child), .event__list--football li:not(:last-child) {
    border-bottom: 1px solid #229870; }
  @media (max-width: 72em) {
    .event__list--calcio, .event__list--football {
      width: 75%;
      margin: 0 auto; } }
  @media (max-width: 43.75em) {
    .event__list--calcio, .event__list--football {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 50px; } }
  @media (max-width: 31.25em) {
    .event__list--calcio, .event__list--football {
      width: 95%; } }
  @media (max-width: 26.6em) {
    .event__list--calcio, .event__list--football {
      width: 90%; } }
  @media (max-width: 20em) {
    .event__list--calcio, .event__list--football {
      width: 70%; } }

.event__list--basket {
  background: linear-gradient(to top, #f68658, #cc440b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #f35817;
  width: 100%;
  margin-left: 5px; }
  @media (max-width: 72em) {
    .event__list--basket {
      width: 75%;
      margin: 0 auto; } }
  @media (max-width: 43.75em) {
    .event__list--basket {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 50px; } }
  @media (max-width: 26.6em) {
    .event__list--basket {
      width: 90%; } }
  .event__list--basket li:not(:last-child) {
    border-bottom: 1px solid #f35817; }

.event__list--football {
  width: 100%;
  margin-left: 0; }
  @media (max-width: 72em) {
    .event__list--football {
      width: 75%;
      margin: 0 auto; } }
  @media (max-width: 43.75em) {
    .event__list--football {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 50px; } }
  @media (max-width: 26.6em) {
    .event__list--football {
      width: 90%; } }

.event__list--tennis {
  background: linear-gradient(to top, #82a9d7, #33649e);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #4F86C6;
  width: 100%; }
  @media (max-width: 72em) {
    .event__list--tennis {
      width: 75%;
      margin: 0 auto; } }
  @media (max-width: 43.75em) {
    .event__list--tennis {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 50px; } }
  @media (max-width: 26.6em) {
    .event__list--tennis {
      width: 90%; } }
  .event__list--tennis li:not(:last-child) {
    border-bottom: 1px solid #4F86C6; }

.event__list--motori {
  background: linear-gradient(to top, #555, #111);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #333;
  width: 100%; }
  @media (max-width: 72em) {
    .event__list--motori {
      width: 75%;
      margin: 0 auto; } }
  @media (max-width: 43.75em) {
    .event__list--motori {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 50px; } }
  @media (max-width: 26.6em) {
    .event__list--motori {
      width: 90%; } }
  .event__list--motori li:not(:last-child) {
    border-bottom: 1px solid #333; }

.event__list--baseball {
  background: linear-gradient(to top, #ff3e5a, #b5001a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #f90024;
  width: 100%; }
  @media (max-width: 72em) {
    .event__list--baseball {
      width: 75%;
      margin: 0 auto; } }
  @media (max-width: 43.75em) {
    .event__list--baseball {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 50px; } }
  @media (max-width: 26.6em) {
    .event__list--baseball {
      width: 90%; } }
  .event__list--baseball li:not(:last-child) {
    border-bottom: 1px solid #f90024; }

#container__league {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  @supports (-webkit-backdrop-filter: blur(2px)) or (backdrop-filter: blur(2px)) {
    #container__league {
      -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px); } }

.container__icon__sport {
  background: radial-gradient(#7ed56f, #28b485 75%);
  padding: 10px;
  border-radius: 20px;
  width: 70%;
  margin-left: 30px;
  margin-top: 333px;
  opacity: 0;
  visibility: hidden; }

.section-faq {
  background: linear-gradient(to right, #2980b9, #011458);
  padding: 100px;
  padding-top: 150px;
  clip-path: polygon(50% 7%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
  margin-top: -150px;
  color: #fff; }
  @media (max-width: 72em) {
    .section-faq {
      clip-path: polygon(50% 3%, 100% 0, 100% 97%, 50% 100%, 0 97%, 0 0);
      text-align: center;
      padding-bottom: 50px;
      padding-top: 100px; } }
  @media (max-width: 43.75em) {
    .section-faq {
      clip-path: polygon(50% 3%, 100% 0, 100% 97%, 50% 100%, 0 97%, 0 0);
      padding: 50px;
      padding-top: 100px; } }
  @media (max-width: 31.25em) {
    .section-faq {
      clip-path: polygon(50% 1%, 100% 0, 100% 97%, 50% 100%, 0 97%, 0 0);
      padding: 50px;
      padding-top: 80px; } }
  @media (max-width: 26.6em) {
    .section-faq {
      height: 2400px;
      padding-top: 90px;
      padding-left: 25px;
      padding-right: 25px; } }
  @media (max-width: 20em) {
    .section-faq {
      clip-path: polygon(50% 1%, 100% 0, 100% 99%, 50% 100%, 0 99%, 0 0);
      height: 2700px;
      padding-left: 25px;
      padding-right: 25px; } }
  .section-faq__heading {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px; }
    @media (max-width: 72em) {
      .section-faq__heading {
        width: 90%; } }
    @media (max-width: 52em) {
      .section-faq__heading {
        width: 100%; } }

.row__1 {
  margin-bottom: 10px !important; }

@media (max-width: 72em) {
  .row__faq--first {
    margin-left: -40px;
    width: 110%;
    margin-top: -40px; } }

@media (max-width: 52em) {
  .row__faq--first {
    margin-left: 00px;
    width: 100%; } }

@media (max-width: 72em) {
  .row__faq--second {
    margin-top: 20px; } }

@media (max-width: 52em) {
  .row__faq--second {
    margin-top: -40px; } }

.qanda {
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  padding: 30px; }
  .qanda--of-3 {
    width: 85%; }
    @media (max-width: 72em) {
      .qanda--of-3 {
        width: 100%; } }
  @media (max-width: 52em) {
    .qanda {
      width: 85%;
      margin-bottom: 30px; } }
  @media (max-width: 26.6em) {
    .qanda {
      padding: 30px; } }
  @media (max-width: 20em) {
    .qanda {
      width: 100%; } }

.question {
  backface-visibility: hidden;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #011458; }

.answer {
  color: #021b79; }

.more__questions {
  width: 95%;
  margin: 0 auto;
  text-align: justify;
  font-size: 1.9rem;
  font-weight: 300;
  padding-bottom: 50px; }
  @media (max-width: 52em) {
    .more__questions {
      width: 80%;
      margin-top: -60px;
      font-size: 1.6rem; } }
  @media (max-width: 26.6em) {
    .more__questions {
      margin-top: -30px;
      font-size: 16px;
      width: 95%; } }

.faq__bold {
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer; }
  @media (max-width: 26.6em) {
    .faq__bold {
      font-size: 20px; } }
