.athlete__slideshow-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 340px;
  width: 340px;

  @include respond(phone) {
    height: 240px;
    width: 240px;
  }
}

.mySlides {
  position: absolute;
  transition: all 1s;

  @include respond(pixel2XL) {
    transform: scale(0.8);
  }

  @include respond(phone-tab) {
    transform: scale(0.9);
  }

  @include respond(galaxyS5) {
  }

  @include respond(largePhone) {
  }

  @include respond(phone) {
    transform: scale(0.75);
  }

  @include respond(mediumPhone) {
  }

  @include respond(smallPhone) {
    transform: scale(0.65);
  }
}

.athlete {
  filter: drop-shadow(0 1.5rem 5rem rgba($color-black, 0.25));
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}
