@mixin clearfix {
    &::after {
        content:"";
        display: table;
        clear: both;
    }
}

// MEDIA QUERY MANAGER
/*
0 - 320px: phone small
320px - 375px: phone medium
375px - 425px: phone large
425px - 768px: tablet

600 - 900px:     tablet portrait
900 - 1200px:    tablet landscape
1200 - 1800     is where the normal styles apply
1800+ :           big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/

// 1em = 16px



@mixin respond($breakpoint) {
    @if $breakpoint == smallPhone {
        @media (max-width: 20em) {@content}; //320px
    }

    @if $breakpoint == mediumPhone {
        @media (max-width: 23.5em) {@content}; //375px
    }

    @if $breakpoint == phone {
        @media (max-width: 26.6em) {@content}; //425px
    }

    @if $breakpoint == largePhone {
        @media (max-width: 31.25em) {@content}; //500px
    }

    @if $breakpoint == galaxyS5 {
        @media (max-width: 40em) {@content}; //640px
    }

    @if $breakpoint == phone-tab {
        @media (max-width: 43.75em) {@content}; //700px
    }

    // @if $breakpoint == phone-tab {
    //     @media (max-width: 43.75em) {@content}; //700px
    // }

    @if $breakpoint == tablet {
        @media (max-width: 48em) {@content}; //768px
    }

    @if $breakpoint == pixel2XL {
        @media (max-width: 52em) {@content}; //823px
    }

    @if $breakpoint == laptop {
        @media (max-width: 72em) {@content}; //1024px
    }

    @if $breakpoint == big-laptop {
        @media (max-width: 84em) {@content}; //1332px
    }

    // @if $breakpoint == tab-land {
    //     @media (max-width: 75em) {@content}; //1200px
    // }

    // @if $breakpoint == big-desktop {
    //     @media (min-width: 112.5em) {@content}; //1800px
    // }
}