// COLORS
$color-primary-light: #083bfb;
$color-primary: #0326ab;
$color-primary-dark: #021b79;
$color-primary-darker: #011458;

$color-background: #f2f5ff;

$color-football: #229870;
$color-football-light: #2ed099;
$color-football-dark: #196e51;
$color-basket: #f35817;
$color-basket-light: #f68658;
$color-basket-dark: #cc440b;
$color-tennis: #4F86C6;
$color-tennis-light: #82a9d7;
$color-tennis-dark: #33649e;
$color-motor: #333;
$color-motor-light: #555;
$color-motor-dark: #111;
$color-baseball: #f90024; 
$color-baseball-light: #ff3e5a;
$color-baseball-dark: #b5001a;




$color-secondary-light: #7ed56f;
$color-secondary-dark: #28b485;

$color-header-1: #2980b9;
$color-header-2: #2c3e50;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: rgb(194, 194, 194);

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 138rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 4rem;