.section-about {
  background-color: $color-background;
  height: 110rem;
  padding-top: 20rem;
  margin-top: -10rem;

  @include respond(laptop) {
  }

  @include respond(pixel2XL) {
    height: 105rem;
    margin-top: -10rem;
  }

  @include respond(phone-tab) {
    margin-top: -15rem;
    height: 140rem;
  }

  @include respond(largePhone) {
    margin-top: -18rem;
  }

  @include respond(phone) {
    height: 145rem;
  }

  @include respond(mediumPhone) {
    // padding-bottom: 20rem;
  }

  // @include respond(smallPhone) {
  //     padding-bottom: 20rem;
  // }
}

.row-about {
  display: flex;
  align-items: center;

  @include respond(phone-tab) {
    flex-direction: column;
  }
}

.about__left {
  height: 550px;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include respond(laptop) {
    padding-top: 1rem;
    padding-left: 6rem;
  }

  @include respond(phone-tab) {
    padding: 3rem;
    justify-content: center;
    height: 500px;
  }

  @include respond(phone) {
    height: 280px;
  }
}

.about__right {
  height: 480px;
  background: linear-gradient($color-secondary-light, $color-secondary-dark);
  padding: 5rem;
  color: white;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 1.5rem 3rem rgba($color-black, 0.15);

  @include respond(laptop) {
    height: auto;
  }

  @include respond(pixel2XL) {
    padding: 3rem 4rem;
  }

  @include respond(phone-tab) {
    margin: 0 auto;
    margin-top: 5rem;
    width: 70%;
  }

  @include respond(largePhone) {
    width: 80%;
    // margin-bottom: 5rem;
  }

  @include respond(phone) {
    width: 65%;
    margin-bottom: 5rem;
  }

  @include respond(smallPhone) {
    width: 80%;
  }

  &__text {
    &--main {
      font-size: 3rem;
      font-weight: 500;
      margin-bottom: 1.8rem;
      display: block;
    }

    &--sub {
      font-size: 2.2rem;
      font-weight: 300;
      display: block;

      &:not(:last-child) {
        margin-bottom: 2.5rem;
      }
    }

    &--line {
      display: block;
      width: 6rem;
      height: 0.3rem;
      background: $color-white;
      margin-bottom: 2.5rem;

      @include respond(laptop) {
        width: 10rem;
      }
    }

    @include respond(pixel2XL) {
      line-height: initial;
    }
  }
}
