.section-sports {
  background-color: $color-background;
  padding: 20rem 0;
  margin-top: -15rem;

  @include respond(laptop) {
    height: 130rem;
  }

  @include respond(phone-tab) {
    padding-bottom: 15rem;
    margin-top: -10rem;
    height: 160rem;
  }

  @include respond(largePhone) {
    height: 155rem;
  }

  @include respond(phone) {
    height: 165rem;
  }

  @include respond(smallPhone) {
    padding: 25rem 0 15rem 0;
    margin-top: -15rem;
  }
  // clip-path: polygon(50% 100%, 100% 80vh, 100% 0, 0 0, 0 90vh);
}

.row__icon__sport,
.row__container__icon__sport {
  max-width: 120rem;
  position: relative;

  @include respond(laptop) {
    padding: 0 4rem;
  }
}

.col__sport {
  @include respond(laptop) {
    position: absolute;
  }

  &--calcio {
    @include respond(laptop) {
      top: 0;
      left: 0;
    }

    @include respond(phone-tab) {
      top: 0;
      left: 2rem;
    }
  }

  &--basket {
    @include respond(laptop) {
      top: 50rem;
      left: 0;
    }

    @include respond(pixel2XL) {
      top: 53rem;
    }

    @include respond(phone-tab) {
      top: 50rem;
      left: 2rem;
    }

    @include respond(phone) {
      top: 53rem;
      left: 2rem;
    }
  }

  &--football {
    @include respond(laptop) {
      top: 0;
      left: 66%;
    }

    @include respond(phone-tab) {
      top: 50rem;
      left: 50%;
    }

    @include respond(phone) {
      top: 53rem;
      // left: 2rem;
    }
  }

  &--tennis {
    @include respond(laptop) {
      top: 0;
      left: 33%;
    }

    @include respond(phone-tab) {
      top: 0;
      left: 50%;
    }
  }

  &--motori {
    @include respond(laptop) {
      top: 50rem;
      left: 33%;
    }

    @include respond(pixel2XL) {
      top: 53rem;
    }

    @include respond(phone-tab) {
      top: 78rem;
      left: 2rem;
    }

    @include respond(phone) {
      top: 83rem;
      // left: 2rem;
    }
  }

  &--baseball {
    @include respond(laptop) {
      top: 50rem;
      left: 66%;
    }

    @include respond(pixel2XL) {
      top: 53rem;
    }

    @include respond(phone-tab) {
      top: 78rem;
      left: 50%;
    }

    @include respond(phone) {
      top: 83rem;
      // left: 2rem;
    }
  }
}

.icon {
  &__sport {
    // background: radial-gradient($color-secondary-light, $color-secondary-dark 75%);
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-top: -2rem;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.3);

    @include respond(laptop) {
      width: 30%;
    }

    @include respond(phone-tab) {
      width: 25%;
    }

    &--calcio,
    &--football {
      background: radial-gradient($color-football-light, $color-football-dark);
    }

    &--basket {
      background: radial-gradient($color-basket-light, $color-basket-dark);
    }

    &--tennis {
      background: radial-gradient($color-tennis-light, $color-tennis-dark);
    }

    &--motori {
      background: radial-gradient($color-motor-light 60%, $color-motor-dark);
    }

    &--baseball {
      background: radial-gradient(
        $color-baseball-light 50%,
        $color-baseball-dark
      );
    }
  }
}

ul {
  list-style: none;
  margin: 0 auto;
  padding-top: 2rem;
  text-transform: uppercase;
  // background-color: pink;

  li {
    text-align: center;
    font-size: 1.4rem;
    padding: 1rem 0;
  }
}

.event__list {
  &--calcio,
  &--football {
    color: $color-football;

    @supports (-webkit-text-fill-color: transparent) and
      (-webkit-background-clip: text) {
      background: linear-gradient(
        to top,
        $color-football-light,
        $color-football-dark
      );
      -webkit-background-clip: text;
      // background-clip: text;
      -webkit-text-fill-color: $color-football;
    }

    width: 130%;
    margin-left: -2.5rem;

    li:not(:last-child) {
      border-bottom: 1px solid $color-football;
    }

    @include respond(laptop) {
      width: 75%;
      margin: 0 auto;
    }

    @include respond(phone-tab) {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 5rem;
    }

    @include respond(largePhone) {
      width: 95%;
    }

    @include respond(phone) {
      width: 60%;
    }

    @include respond(smallPhone) {
      width: 70%;
    }
  }

  &--basket {
    background: linear-gradient(
      to top,
      $color-basket-light,
      $color-basket-dark
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: $color-basket;
    width: 100%;
    margin-left: 0.5rem;

    @include respond(laptop) {
      width: 75%;
      margin: 0 auto;
    }

    @include respond(phone-tab) {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 5rem;
    }

    @include respond(phone) {
      width: 60%;
    }

    li:not(:last-child) {
      border-bottom: 1px solid $color-basket;
    }
  }

  &--football {
    width: 100%;
    margin-left: 0rem;

    @include respond(laptop) {
      width: 75%;
      margin: 0 auto;
    }

    @include respond(phone-tab) {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 5rem;
    }

    @include respond(phone) {
      width: 60%;
    }
  }

  &--tennis {
    background: linear-gradient(
      to top,
      $color-tennis-light,
      $color-tennis-dark
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: $color-tennis;
    width: 100%;

    @include respond(laptop) {
      width: 75%;
      margin: 0 auto;
    }

    @include respond(phone-tab) {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 5rem;
    }

    @include respond(phone) {
      width: 60%;
    }

    li:not(:last-child) {
      border-bottom: 1px solid $color-tennis;
    }
  }

  &--motori {
    background: linear-gradient(to top, $color-motor-light, $color-motor-dark);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: $color-motor;
    width: 100%;

    @include respond(laptop) {
      width: 75%;
      margin: 0 auto;
    }

    @include respond(phone-tab) {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 5rem;
    }

    @include respond(phone) {
      width: 60%;
    }

    li:not(:last-child) {
      border-bottom: 1px solid $color-motor;
    }
  }

  &--baseball {
    background: linear-gradient(
      to top,
      $color-baseball-light,
      $color-baseball-dark
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: $color-baseball;
    width: 100%;

    @include respond(laptop) {
      width: 75%;
      margin: 0 auto;
    }

    @include respond(phone-tab) {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 5rem;
    }

    @include respond(phone) {
      width: 60%;
    }

    li:not(:last-child) {
      border-bottom: 1px solid $color-baseball;
    }
  }
}

#container__league {
  background-color: rgba($color-black, 0.8);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  @supports (-webkit-backdrop-filter: blur(2px)) or (backdrop-filter: blur(2px)) {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }
}

.container__icon {
  &__sport {
    background: radial-gradient(
      $color-secondary-light,
      $color-secondary-dark 75%
    );
    padding: 1rem;
    border-radius: 2rem;
    width: 70%;
    margin-left: 3rem;
    margin-top: 33.3rem;
    opacity: 0;
    visibility: hidden;
    // height: 5.5rem;
  }
}

// .slider {
//     width: 100%;
//     height: 70vh;
//     display: flex;
//     overflow-x: auto;
//     scroll-snap-type: x mandatory;
//     scroll-behavior: smooth;
//     position: relative;
//     transition: all 1s;
//   }

// .slide {
//     flex-shrink: 0;
//     height: 100%;
//     width: 100%;
//     font-size: 5rem;
//     text-align: center;
//     transition: all 1s;
//     color: white;

//     &-1 {
//         background-image: linear-gradient($color-background, $color-football 80%);
//     }

//     &-2 {
//         background-image: linear-gradient($color-background, $color-basket 80%);
//     }

//     &-3 {
//         background-image: linear-gradient($color-background, $color-football 80%);
//     }

//     &-4 {
//         background-image: linear-gradient($color-background, $color-tennis 80%);
//     }

//     &-5 {
//         background-image: linear-gradient($color-background, $color-motor 80%);
//     }

//     &-6 {
//         background-image: linear-gradient($color-background, $color-baseball 80%);
//     }
// }

// .slider > div {
//     scroll-snap-align: start;
// }

// .sport {
//     &__header {
//         font-size: 4rem;
//         text-transform: uppercase;
//         margin-bottom: -5rem;

//         &--calcio,
//         &--football {
//             color: $color-football;
//         }

//         &--basket {
//             color: $color-basket;
//         }

//         &--tennis {
//             color: $color-tennis;
//         }

//         &--motori {
//             color: $color-motor;
//         }

//         &--baseball {
//             color: $color-baseball;
//         }
//     }
// }

// .event__container {
//     text-transform: uppercase;
//     padding: 2rem;
//     // background-color: pink;
//     width: 100%;
//     height: 40rem;
//     position: relative;
//     font-weight: 400;
//     margin-left: 2rem;
//     // padding-left: 3rem;
// }

// .lg {
//     position: absolute;
//     top: 0;
//     left: 0;
//     font-size: 1.6rem;

//     &--imp {
//         font-size: 2rem;
//     }

//     &--1 {
//         top: 17rem;
//         left: 17rem;
//     }

//     &--2 {
//         top: 30.5rem;
//         left: 35rem;
//     }

//     &--3 {
//         top: 10rem;
//         left: 10rem;
//     }

//     &--4 {
//         top: 31rem;
//         left: 13rem;
//     }

//     &--5 {
//         top: 35rem;
//         left: 2rem;
//     }

//     &--6 {
//         top: 5rem;
//         left: 20rem;
//     }

//     &--7 {
//         top: 18rem;
//         left: 30rem;
//     }

//     &--8 {
//         top: 12rem;
//         left: 35rem;
//     }

//     &--9 {
//         top: 30rem;
//         left: 0;
//     }

//     &--10 {
//         top: 0rem;
//         left: 35rem;
//     }

//     &--11 {
//         top: 27rem;
//         left: 30rem;
//     }

//     &--12 {
//         top: 5rem;
//         left: 35rem;
//     }

//     &--13 {
//         top: 22rem;
//         left: 20rem;
//     }

//     &--14 {
//         top: 20rem;
//         left: 0;
//     }

//     &--15 {
//         top: 26rem;
//         left: 4rem;
//     }

//     &--16 {
//         top: 7rem;
//         left: 3rem;
//     }

//     &--17 {
//         top: 35rem;
//         left: 45rem;
//     }

//     &--18 {
//         top: 15rem;
//         left: 0;
//     }

//     &--19 {
//         top:22rem;
//         left: 30rem;
//     }

//     &--20 {
//         top: 1rem;
//         left: 15rem;
//     }

//     &--21 {
//         top: 0;
//         left: 0;
//     }
// }
